EntornoDesarrollo/n8n/workflows/Asignaciones.json
{
  "updatedAt": "2026-04-27T11:12:26.734Z",
  "createdAt": "2026-04-27T08:11:54.431Z",
  "id": "ZuR0pcnpMBB50x5B",
  "name": "Asignaciones",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asignaciones",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "77d290e7-1feb-4ed4-9acf-bd8f055fee31",
      "name": "API Gestión Asignaciones",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        1008
      ],
      "webhookId": "81f69d30-0398-40cd-8782-1f30e75e9fed"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getAsignaciones",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-get-asignaciones"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Asignaciones"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createAsignacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-create-asignacion"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create Asignacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateAsignacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-update-asignacion"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Asignacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "toggleAsignacionStatus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-toggle-asignacion"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Toggle Status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getEmpresas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-get-empresas"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Empresas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getTrabajadores",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-get-trabajadores"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Trabajadores"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getComerciales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-get-comerciales"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Comerciales"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Invalid Action"
        }
      },
      "id": "f10b6975-1e59-4d87-9f87-9f8d881d9a64",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -480,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst filters = body.filters || {};\n\nconst page = parseInt(body.page) || 1;\nconst pageSize = parseInt(body.pageSize) || 10;\nconst offset = (page - 1) * pageSize;\n\nconst params = [];\nlet paramIndex = 1;\nlet whereClause = 'WHERE 1=1';\n\nif (\n  filters.searchText &&\n  typeof filters.searchText === 'string' &&\n  filters.searchText.trim() !== ''\n) {\n  whereClause += `\n    AND (\n      e.nombre_empresa ILIKE $${paramIndex}\n      OR CONCAT(t.nombre, ' ', t.primer_apellido) ILIKE $${paramIndex}\n    )\n  `;\n  params.push(`%${filters.searchText}%`);\n  paramIndex++;\n}\n\nif (\n  filters.id_empresa !== undefined &&\n  filters.id_empresa !== null &&\n  filters.id_empresa !== ''\n) {\n  whereClause += ` AND a.id_empresa = $${paramIndex}`;\n  params.push(filters.id_empresa);\n  paramIndex++;\n}\n\nif (\n  filters.id_trabajador !== undefined &&\n  filters.id_trabajador !== null &&\n  filters.id_trabajador !== ''\n) {\n  whereClause += ` AND a.id_trabajador = $${paramIndex}`;\n  params.push(filters.id_trabajador);\n  paramIndex++;\n}\n\nif (\n  filters.id_comerciales !== undefined &&\n  filters.id_comerciales !== null &&\n  filters.id_comerciales !== ''\n) {\n  whereClause += ` AND a.id_comerciales = $${paramIndex}`;\n  params.push(filters.id_comerciales);\n  paramIndex++;\n}\n\nif (\n  filters.activo !== undefined &&\n  filters.activo !== null &&\n  filters.activo !== ''\n) {\n  whereClause += ` AND a.activo = $${paramIndex}`;\n  params.push(filters.activo);\n  paramIndex++;\n}\n\n// Paginación\nparams.push(pageSize);\nconst limitParam = paramIndex++;\n\nparams.push(offset);\nconst offsetParam = paramIndex++;\n\n// Query principal\nconst query = `\nWITH total_count AS (\n  SELECT COUNT(DISTINCT a.id) AS total\n  FROM asignacion a\n  LEFT JOIN empresa e ON e.id = a.id_empresa\n  LEFT JOIN trabajador t ON t.id = a.id_trabajador\n  LEFT JOIN comerciales c ON c.id = a.id_comerciales\n  ${whereClause}\n),\nglobal_counts AS (\n  SELECT \n    COUNT(*) AS total_global,\n    SUM(CASE WHEN activo = true THEN 1 ELSE 0 END) AS total_activos,\n    SUM(CASE WHEN activo = false THEN 1 ELSE 0 END) AS total_inactivos\n  FROM asignacion\n),\npaginado AS (\n  SELECT\n    a.*,\n    e.nombre_empresa,\n    CONCAT(\n      t.nombre,\n      ' ',\n      t.primer_apellido,\n      COALESCE(' ' || t.segundo_apellido, '')\n    ) AS trabajador_nombre,\n    CONCAT(\n      c.nombre,\n      ' ',\n      c.primer_apellido,\n      COALESCE(' ' || c.segundo_apellido, '')\n    ) AS comercial_nombre\n  FROM asignacion a\n  LEFT JOIN empresa e ON e.id = a.id_empresa\n  LEFT JOIN trabajador t ON t.id = a.id_trabajador\n  LEFT JOIN comerciales c ON c.id = a.id_comerciales\n  ${whereClause}\n  ORDER BY a.id DESC\n  LIMIT $${limitParam} OFFSET $${offsetParam}\n)\n\nSELECT \n  paginado.*,\n  total_count.total AS total_records,\n  global_counts.total_global,\n  global_counts.total_activos,\n  global_counts.total_inactivos\nFROM paginado, total_count, global_counts;\n`;\n\nreturn [\n  {\n    json: {\n      query,\n      params,\n      page,\n      pageSize,\n    },\n  },\n];"
      },
      "id": "02b71f2c-8b07-480e-80ce-275726e3c013",
      "name": "Build Get Asignaciones Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "818a4a50-982d-42ee-a7cf-aa9e06c0a030",
      "name": "Get Asignaciones",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO asignacion (id_empresa, id_trabajador, id_comerciales, fecha_ini, fecha_fin, tarifa, activo)\nVALUES ($1, $2, $3, $4, $5, $6, true)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.body.asignacionData.id_empresa }},={{ $json.body.asignacionData.id_trabajador }},={{ $json.body.asignacionData.id_comerciales }},={{ $json.body.asignacionData.fecha_ini }},={{ $json.body.asignacionData.fecha_fin }},={{ $json.body.asignacionData.tarifa }}"
        }
      },
      "id": "94907d33-604c-4498-9aaf-ce06d7b5b0b6",
      "name": "Insert Asignacion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE asignacion SET\n  id_empresa = $1,\n  id_trabajador = $2,\n  id_comerciales = $3,\n  fecha_ini = $4,\n  fecha_fin = $5,\n  tarifa = $6\nWHERE id = $7\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.body.asignacionData.id_empresa }},={{ $json.body.asignacionData.id_trabajador }},={{ $json.body.asignacionData.id_comerciales }},={{ $json.body.asignacionData.fecha_ini }},={{ $json.body.asignacionData.fecha_fin }},={{ $json.body.asignacionData.tarifa }},={{ $json.body.asignacionId }}"
        }
      },
      "id": "2b0caf5f-0711-4cf1-a0a6-5a302759c52a",
      "name": "Update Asignacion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE asignacion SET activo = NOT activo WHERE id = $1 RETURNING id, activo;",
        "options": {
          "queryReplacement": "={{ $json.body.asignacionId }}"
        }
      },
      "id": "59b9c825-cc4c-4bc9-8257-493a469d8693",
      "name": "Toggle Asignacion Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nombre_empresa FROM empresa ORDER BY nombre_empresa;",
        "options": {}
      },
      "id": "c4b5a687-3582-4f12-8d34-60a9e3cae259",
      "name": "Get Empresas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        736
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, CONCAT(nombre, ' ', primer_apellido, COALESCE(' ' || segundo_apellido, '')) AS nombre_completo FROM trabajador WHERE activo = true ORDER BY primer_apellido, nombre;",
        "options": {}
      },
      "id": "505e521f-0593-425c-8660-380f96c65fd3",
      "name": "Get Trabajadores",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        896
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, CONCAT(nombre, ' ', primer_apellido, COALESCE(' ' || segundo_apellido, '')) AS nombre_completo FROM comerciales WHERE activo = true ORDER BY primer_apellido, nombre;",
        "options": {}
      },
      "id": "64f6f710-3e64-42d5-ac16-985fcf7aad45",
      "name": "Get Comerciales",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        1056
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "2",
              "name": "error",
              "value": "Acción inválida. Acciones permitidas: getAsignaciones, createAsignacion, updateAsignacion, toggleAsignacionStatus, getEmpresas, getTrabajadores, getComerciales",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "da6412b2-537a-4f82-9a02-c6109ff230bc",
      "name": "Invalid Action Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        1264
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"success\": true, \"data\": $input.all().map(item => item.json) }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "3740a5b0-aaf5-44ae-bc23-1ebab9a85cb7",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        672
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "bca7584d-4ef8-4608-8767-713297d7db37",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        192,
        1264
      ]
    }
  ],
  "connections": {
    "API Gestión Asignaciones": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Build Get Asignaciones Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Asignacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Asignacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Toggle Asignacion Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Empresas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Trabajadores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Comerciales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Get Asignaciones Query": {
      "main": [
        [
          {
            "node": "Get Asignaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Asignaciones": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Asignacion": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Asignacion": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle Asignacion Status": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Empresas": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trabajadores": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Comerciales": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Action Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c3120bed-d3de-464c-a88a-929547441ecb",
  "activeVersionId": "c3120bed-d3de-464c-a88a-929547441ecb",
  "versionCounter": 14,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-27T08:11:54.431Z",
      "createdAt": "2026-04-27T08:11:54.431Z",
      "role": "workflow:owner",
      "workflowId": "ZuR0pcnpMBB50x5B",
      "projectId": "HPNLsCxwhHCLkcBf",
      "project": {
        "updatedAt": "2026-04-22T08:46:19.945Z",
        "createdAt": "2026-04-22T08:41:51.280Z",
        "id": "HPNLsCxwhHCLkcBf",
        "name": "Adriano Casado Villarreal <adriano.casado@sgtech.tech>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "134af668-187e-480f-8edf-2641b318bfd3"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version c3120bed",
    "description": ""
  }
}