EntornoDesarrollo/n8n/workflows/Asignaciones.json
{
  "name": "Asignaciones",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asignaciones",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "735bbf70-57da-4617-9332-f5c9fff3b7f0",
      "name": "API Gestión Asignaciones",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -736,
        864
      ],
      "webhookId": "81f69d30-0398-40cd-8782-1f30e75e9fed"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getAsignaciones",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-get-asignaciones"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Asignaciones"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createAsignacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-create-asignacion"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create Asignacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateAsignacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-update-asignacion"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Asignacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "toggleAsignacionStatus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-toggle-asignacion"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Toggle Status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getEmpresas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-get-empresas"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Empresas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getTrabajadores",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-get-trabajadores"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Trabajadores"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getComerciales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-get-comerciales"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Comerciales"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Invalid Action"
        }
      },
      "id": "e35fddbf-dfa5-4b40-a2e8-b3876514c4f4",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -464,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst filters = body.filters || {};\n\nconst page = parseInt(body.page) || 1;\nconst pageSize = parseInt(body.pageSize) || 10;\nconst offset = (page - 1) * pageSize;\n\nconst params = [];\nlet paramIndex = 1;\nlet whereClause = 'WHERE 1=1';\n\nif (\n  filters.searchText &&\n  typeof filters.searchText === 'string' &&\n  filters.searchText.trim() !== ''\n) {\n  if (filters.searchField === 'empresa') {\n    whereClause += \\ AND e.nombre_empresa ILIKE {paramIndex}\\;\n  } else if (filters.searchField === 'trabajador') {\n    whereClause += \\ AND CONCAT(t.nombre, ' ', t.primer_apellido) ILIKE {paramIndex}\\;\n  } else {\n    whereClause +=       AND (\n        e.nombre_empresa ILIKE {paramIndex}\n        OR CONCAT(t.nombre, ' ', t.primer_apellido) ILIKE {paramIndex}\n      )\n    \\;\n  }\n  params.push(\\%%\\);\n  paramIndex++;\n}\n\nif (\n  filters.id_empresa !== undefined &&\n  filters.id_empresa !== null &&\n  filters.id_empresa !== ''\n) {\n  whereClause += ` AND a.id_empresa = $${paramIndex}`;\n  params.push(filters.id_empresa);\n  paramIndex++;\n}\n\nif (\n  filters.id_trabajador !== undefined &&\n  filters.id_trabajador !== null &&\n  filters.id_trabajador !== ''\n) {\n  whereClause += ` AND a.id_trabajador = $${paramIndex}`;\n  params.push(filters.id_trabajador);\n  paramIndex++;\n}\n\nif (\n  filters.id_comerciales !== undefined &&\n  filters.id_comerciales !== null &&\n  filters.id_comerciales !== ''\n) {\n  whereClause += ` AND a.id_comerciales = $${paramIndex}`;\n  params.push(filters.id_comerciales);\n  paramIndex++;\n}\n\nif (\n  filters.activo !== undefined &&\n  filters.activo !== null &&\n  filters.activo !== ''\n) {\n  whereClause += ` AND a.activo = $${paramIndex}`;\n  params.push(filters.activo);\n  paramIndex++;\n}\n\n// Paginación\nparams.push(pageSize);\nconst limitParam = paramIndex++;\n\nparams.push(offset);\nconst offsetParam = paramIndex++;\n\n// Query principal\nconst query = `\nWITH total_count AS (\n  SELECT COUNT(DISTINCT a.id) AS total\n  FROM asignacion a\n  LEFT JOIN empresa e ON e.id = a.id_empresa\n  LEFT JOIN trabajador t ON t.id = a.id_trabajador\n  LEFT JOIN comerciales c ON c.id = a.id_comerciales\n  ${whereClause}\n),\nglobal_counts AS (\n  SELECT \n    COUNT(*) AS total_global,\n    SUM(CASE WHEN activo = true THEN 1 ELSE 0 END) AS total_activos,\n    SUM(CASE WHEN activo = false THEN 1 ELSE 0 END) AS total_inactivos\n  FROM asignacion\n),\npaginado AS (\n  SELECT\n    a.*,\n    e.nombre_empresa,\n    CONCAT(\n      t.nombre,\n      ' ',\n      t.primer_apellido,\n      COALESCE(' ' || t.segundo_apellido, '')\n    ) AS trabajador_nombre,\n    CONCAT(\n      c.nombre,\n      ' ',\n      c.primer_apellido,\n      COALESCE(' ' || c.segundo_apellido, '')\n    ) AS comercial_nombre\n  FROM asignacion a\n  LEFT JOIN empresa e ON e.id = a.id_empresa\n  LEFT JOIN trabajador t ON t.id = a.id_trabajador\n  LEFT JOIN comerciales c ON c.id = a.id_comerciales\n  ${whereClause}\n  ORDER BY a.id DESC\n  LIMIT $${limitParam} OFFSET $${offsetParam}\n)\n\nSELECT \n  paginado.*,\n  total_count.total AS total_records,\n  global_counts.total_global,\n  global_counts.total_activos,\n  global_counts.total_inactivos\nFROM paginado, total_count, global_counts;\n`;\n\nreturn [\n  {\n    json: {\n      query,\n      params,\n      page,\n      pageSize,\n    },\n  },\n];"
      },
      "id": "5764ba40-ebb6-459f-b9de-84532a452cfa",
      "name": "Build Get Asignaciones Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "b27cde39-51ca-4469-bac3-e85ca386041c",
      "name": "Get Asignaciones",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      },
      "options": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO asignacion (id_empresa, id_trabajador, id_comerciales, fecha_ini, fecha_fin, tarifa, activo)\nVALUES ($1, $2, $3, $4, $5, $6, true)\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ [$json.body.asignacionData.id_empresa, $json.body.asignacionData.id_trabajador, $json.body.asignacionData.id_comerciales, $json.body.asignacionData.fecha_ini || null, $json.body.asignacionData.fecha_fin || null, $json.body.asignacionData.tarifa || null] }}"
        }
      },
      "id": "da374751-6a45-40cf-946f-11c69ec7e6f2",
      "name": "Insert Asignacion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE asignacion SET\n  id_empresa = $1,\n  id_trabajador = $2,\n  id_comerciales = $3,\n  fecha_ini = $4,\n  fecha_fin = $5,\n  tarifa = $6\nWHERE id = $7\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ [$json.body.asignacionData.id_empresa, $json.body.asignacionData.id_trabajador, $json.body.asignacionData.id_comerciales, $json.body.asignacionData.fecha_ini || null, $json.body.asignacionData.fecha_fin || null, $json.body.asignacionData.tarifa || null, $json.body.asignacionId] }}"
        }
      },
      "id": "bc4a96ce-f730-4f8c-892b-7ad4da42eca7",
      "name": "Update Asignacion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE asignacion SET activo = NOT activo WHERE id = $1 RETURNING id, activo;",
        "options": {
          "queryReplacement": "={{ $json.body.asignacionId }}"
        }
      },
      "id": "45c03151-6264-47eb-9273-94e2ee14bba0",
      "name": "Toggle Asignacion Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        416
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nombre_empresa FROM empresa ORDER BY nombre_empresa;",
        "options": {}
      },
      "id": "532e1683-2bd9-4292-8d98-78a1f6cdd60d",
      "name": "Get Empresas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        592
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, CONCAT(nombre, ' ', primer_apellido, COALESCE(' ' || segundo_apellido, '')) AS nombre_completo FROM trabajador WHERE activo = true ORDER BY primer_apellido, nombre;",
        "options": {}
      },
      "id": "bed6f5ed-51a0-4ba9-9ca3-3115b3afcf52",
      "name": "Get Trabajadores",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, CONCAT(nombre, ' ', primer_apellido, COALESCE(' ' || segundo_apellido, '')) AS nombre_completo FROM comerciales WHERE activo = true ORDER BY primer_apellido, nombre;",
        "options": {}
      },
      "id": "8b2a1a78-9d95-4521-bc68-cbc04d1e7688",
      "name": "Get Comerciales",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        912
      ],
      "credentials": {
        "postgres": {
          "id": "PEj0EcRRiVkwps7h",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "2",
              "name": "error",
              "value": "Acción inválida. Acciones permitidas: getAsignaciones, createAsignacion, updateAsignacion, toggleAsignacionStatus, getEmpresas, getTrabajadores, getComerciales",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "acc2bc56-08cf-4c68-acb5-f9fd1f762251",
      "name": "Invalid Action Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        1120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"success\": true, \"data\": $input.all().map(item => item.json) }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "63c4a0cd-fc1d-4d90-8877-07625750ee82",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        528
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: $json.status, error: $json.error, message: $json.message, code: $json.code }) }}",
        "options": {
          "responseCode": "={{ $json.status }}"
        }
      },
      "id": "7401ddc2-eaa9-4064-b2dc-7a37b790a345",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        976,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst error = $input.item.json;\nconst pgCode = String(error.code || '');\nconst rawMessage = String(error.message || 'Error desconocido');\n\nlet status = 500;\nlet errorType = 'Internal Server Error';\nlet message = rawMessage;\nlet code = 'DB_ERROR';\n\nif (pgCode === '23505') {\n  status = 409;\n  errorType = 'Conflict';\n  code = 'DUPLICATE_ENTRY';\n  if (rawMessage.toLowerCase().includes('email')) {\n    message = 'El correo electrónico ya se encuentra registrado.';\n    code = 'EMAIL_ALREADY_EXISTS';\n  } else {\n    const match = rawMessage.match(/unique constraint \"(.+?)\"/i);\n    message = match\n      ? `Ya existe un registro que viola la restricción: ${match[1]}.`\n      : 'Ya existe un registro con esos datos.';\n  }\n} else if (pgCode === '23502') {\n  status = 422;\n  errorType = 'Unprocessable Entity';\n  code = 'MISSING_REQUIRED_FIELD';\n  const match = rawMessage.match(/column \"(.+?)\"/);\n  const field = match ? match[1] : 'desconocido';\n  message = `El campo \"${field}\" es obligatorio y no puede estar vacío.`;\n} else if (pgCode === '23503') {\n  status = 409;\n  errorType = 'Conflict';\n  code = 'FOREIGN_KEY_VIOLATION';\n  message = 'El registro referenciado no existe o ha sido eliminado.';\n} else if (pgCode === '23514') {\n  status = 422;\n  errorType = 'Unprocessable Entity';\n  code = 'CHECK_VIOLATION';\n  message = 'Los datos enviados no cumplen las restricciones requeridas.';\n}\n\nreturn [{ json: { status, error: errorType, message, code } }];\n"
      },
      "id": "05cb680b-9ed0-46d1-89f5-2dd7d2f29d17",
      "name": "Handle DB Error1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        656
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "API Gestión Asignaciones": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Build Get Asignaciones Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Asignacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Asignacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Toggle Asignacion Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Empresas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Trabajadores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Comerciales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Get Asignaciones Query": {
      "main": [
        [
          {
            "node": "Get Asignaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Asignaciones": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Asignacion": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle DB Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Asignacion": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle DB Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle Asignacion Status": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle DB Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Empresas": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trabajadores": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Comerciales": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Action Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle DB Error1": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8fbbc736-6103-4c46-88ad-b8b22f4c8085",
  "meta": {
    "instanceId": "68406e238b7dc5bdce60068f923199f237e1a3d96b618bf2b35e1281a86e782f"
  },
  "id": "ZuR0pcnpMBB50x5B",
  "tags": []
}