EntornoDesarrollo/n8n/workflows/Comerciales.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gestion-comerciales",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "f83aed11-1a23-48e6-a046-232232dc6ae0",
      "name": "API de Gestión de Comerciales",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-544, 496],
      "webhookId": "comerciales-webhook-uuid-0001"
    },
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\nconst JWT_SECRET = 'passEncriptada';\nconst body = $json.body || {};\nconst headers = $json.headers || {};\nconst authHeader = headers['authorization'] || headers['Authorization'] || '';\nconst token = authHeader.replace('Bearer ', '').trim();\n\nif (!token) {\n  return [{ json: { _authError: true, status: 401, message: 'Token no proporcionado' } }];\n}\ntry {\n  const decoded = jwt.verify(token, JWT_SECRET);\n  return [{ json: { ...$json, _auth: decoded } }];\n} catch (err) {\n  return [{ json: { _authError: true, status: 401, message: 'Token inválido' } }];\n}"
      },
      "id": "jwt-verify-comerciales",
      "name": "JWT Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "id": "auth-check", "leftValue": "={{ $json._authError }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        }
      },
      "id": "auth-error-check",
      "name": "Auth Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-100, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.message }) }}",
        "options": { "responseCode": 401 }
      },
      "id": "respond-401",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [128, 200]
    },
    {
      "parameters": {
        "rules": { "values": [ { "conditions": { "conditions": [{ "leftValue": "={{ $json.body.action }}", "rightValue": "getAll", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "Get Comerciales" }, { "conditions": { "conditions": [{ "leftValue": "={{ $json.body.action }}", "rightValue": "create", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "Create Comercial" }, { "conditions": { "conditions": [{ "leftValue": "={{ $json.body.action }}", "rightValue": "update", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "Update Comercial" }, { "conditions": { "conditions": [{ "leftValue": "={{ $json.body.action }}", "rightValue": "toggleStatus", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "Toggle Status" } ] },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "e87d22bc-a45d-47a5-a57e-e884aee8f6d6",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [128, 448]
    }
  ],
  "connections": {
    "API de Gestión de Comerciales": { "main": [[ { "node": "JWT Verify", "type": "main", "index": 0 } ]] },
    "JWT Verify": { "main": [[ { "node": "Auth Error?", "type": "main", "index": 0 } ]] },
    "Auth Error?": { "main": [[ { "node": "Respond Unauthorized", "type": "main", "index": 0 } ], [ { "node": "Route by Action", "type": "main", "index": 0 } ]] }
  }
}