EntornoDesarrollo/n8n/workflows/Direcciones.json
{
  "name": "Direcciones",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gestion-direcciones",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7103001c-efbb-4b23-bb27-4f82e0d10b4d",
      "name": "Client Addresses Management API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        416
      ],
      "webhookId": "98ed4827-3b20-4ccd-b604-bef7b1e4d6c1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getDirecciones",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8721f3fa-6cec-4ec7-8b2a-4cb18dc5021f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Direcciones"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createDireccion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a8a86114-c88e-40b0-8c6a-0f0c6e88afbb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create Direccion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateDireccion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f425a091-dc7c-4731-8921-2e4d9a2ee6fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Direccion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "toggleDireccionStatus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6d59afcf-533f-4cb0-b1d5-0bbfe135f13d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Toggle Direccion Status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f08df66f-cda8-4483-8d0b-498a37768aa8",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getPaises",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Paises"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e7970345-b82c-4a90-8698-b6980baf92b9",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getProvincias",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Provincias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "74716b11-de6e-4acc-9f1b-b60f17911bb9",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getLocalidades",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Localidades"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Invalid Action"
        }
      },
      "id": "cf767ac8-81cb-4521-83ea-cde3844ba4c3",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -240,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"data\": $input.all().map(i => ({\n  id: i.json.id,\n  direccion: i.json.direccion,\n  codigoPostal: i.json.codigo_postal,\n  id_localidad: i.json.id_localidad,\n  activo: i.json.activo,\n  id_empresa: i.json.id_empresa,\n  localidad: i.json.localidad,\n  id_provincia: i.json.id_provincia,\n  provincia: i.json.provincia,\n  id_pais: i.json.id_pais,\n  pais: i.json.pais\n})),\n\"total\": $input.first().json.total_count,\n\"totalActivos\": $input.first().json.total_activos,\n\"totalInactivos\": $input.first().json.total_inactivos\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d3fb774a-e5cf-4763-8816-22ec08e4dfda",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1008,
        368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "2",
              "name": "error",
              "value": "Invalid action. Supported actions: getEmpresas, createEmpresa, updateEmpresa, toggleEmpresaStatus",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3ab0d8d0-ee02-4edc-8b23-a9013867a03f",
      "name": "Invalid Action Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        1008
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "362f3048-d532-4e2a-9fce-25270455ad58",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1008,
        1008
      ]
    },
    {
      "parameters": {
        "jsCode": "const filters = $input.item.json.body.filters || {};\nconst idEmpresa = $input.item.json.body.idEmpresa;\nconst conditions = [];\nconst params = [idEmpresa];\nconst page = $input.item.json.body.page || 1;\nconst limit = $input.item.json.body.limit || 10;\nconst offset = (page - 1) * limit;\nlet paramIndex = 2;\n\nlet query = `SELECT d.id, d.direccion, d.codigo_postal, d.id_localidad, d.id_empresa, d.activo, d.created_at, l.localidad, l.id_provincia, p.provincia, p.id_pais, pa.pais, COUNT(*) OVER() AS total_count, COUNT(*) FILTER (WHERE d.activo = true)  OVER() AS total_activos, COUNT(*) FILTER (WHERE d.activo = false)  OVER() AS total_inactivos\nFROM direccion_empresa d \nLEFT JOIN localidad l ON l.id = d.id_localidad\nLEFT JOIN provincia p ON p.id = l.id_provincia\nLEFT JOIN pais pa ON pa.id = p.id_pais \nWHERE d.id_empresa = $1`;\n\nif (filters.searchText && filters.searchText.trim() !== '') {\n  conditions.push(`(d.direccion ILIKE $${paramIndex})`);\n  params.push(`%${filters.searchText}%`);\n  paramIndex++;\n}\n\nif (filters.pais && filters.pais.trim() !== '') {\n  conditions.push(`pa.pais = $${paramIndex}`);\n  params.push(filters.pais);\n  paramIndex++;\n}\n\nif (filters.status && filters.status.trim() !== '') {\n  if (filters.status === 'activa') {\n    conditions.push(`d.activo = true`);\n  } else if (filters.status === 'baja') {\n    conditions.push(`d.activo = false`);\n  }\n}\n\nif (conditions.length > 0) {\n  query += ' AND ' + conditions.join(' AND ');\n}\n\nquery += ' GROUP BY d.id, d.direccion, d.codigo_postal, d.id_localidad, d.id_empresa, d.activo, d.created_at, l.localidad, l.id_provincia, p.provincia, p.id_pais, pa.pais';\nquery += ' ORDER BY d.created_at ASC';\nquery += ` LIMIT ${limit} OFFSET ${offset}`;\n\nreturn [{\n  json: {\n    query: query,\n    params: params.join(',')\n  }\n}];"
      },
      "id": "0a961119-99cb-4f08-9349-5497b086d9f7",
      "name": "Build Get Direcciones Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "4b777df4-e508-4d56-a39a-03a918509406",
      "name": "Get Direcciones",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\n\nconst fields = ['direccion', 'codigo_postal', 'id_empresa', 'id_localidad', 'activo'];\nconst values = [body.direccionData.direccion, body.direccionData.codigoPostal, body.direccionData.id_empresa, body.direccionData.id_localidad, body.direccionData.activo];\n\nconst placeholders = values.map((_, i) => `$${i + 1}`).join(', ');\n\nreturn [{\n  json: {\n    query: `INSERT INTO direccion_empresa (${fields.join(', ')})\n            VALUES (${placeholders})\n            RETURNING id, direccion, codigo_postal, id_empresa, id_localidad, activo, created_at`,\n    params: values.join(',')\n  }\n}];"
      },
      "id": "7b1b70a6-f067-4b1f-b8c1-daf30988c4e4",
      "name": "Build Create Direcciones Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "4a16ed8e-1121-4b89-8e60-18a76008549b",
      "name": "Create Direccion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const id = $input.item.json.id;\n\nreturn [{\n  json: {\n    query: `\n      SELECT \n      d.id,\n      d.direccion,\n      d.codigo_postal,\n      d.id_localidad,\n      d.id_empresa,\n      d.activo,\n      d.created_at,\n      l.localidad,\n      l.id_provincia,\n      p.provincia,\n      p.id_pais,\n      pa.pais\n      FROM direccion_empresa d \n      LEFT JOIN localidad l ON l.id = d.id_localidad\n      LEFT JOIN provincia p ON p.id = l.id_provincia\n      LEFT JOIN pais pa ON pa.id = p.id_pais \n      WHERE d.id = $1\n      GROUP BY d.id, d.direccion, d.codigo_postal, d.id_localidad, d.id_empresa,\n      d.activo, d.created_at, l.localidad, l.id_provincia, p.provincia,\n      p.id_pais, pa.pais\n    `,\n    params: String(id)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        368
      ],
      "id": "f7232b70-e195-4c7b-bdb8-d5b8a4b90922",
      "name": "Build Get Created Direccion"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "c8408633-cb75-4a04-ac02-da33724f957a",
      "name": "Get Created Direccion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE direccion_empresa SET direccion = $1, codigo_postal = $2, id_empresa = $3, id_localidad = $4, activo = $5, updated_at = NOW() WHERE id = $6 RETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.body.direccionData.direccion }},{{ $json.body.direccionData.codigoPostal }},{{ $json.body.direccionData.id_empresa }},{{ $json.body.direccionData.id_localidad }},{{ $json.body.direccionData.activo }},{{ $json.body.direccionId }}"
        }
      },
      "id": "a3f89278-7b46-4d10-b127-4f76db9590eb",
      "name": "Update Direccion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE direccion_empresa \nSET activo = NOT activo, updated_at = NOW() \nWHERE id = $1\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.body.direccionId }}"
        }
      },
      "id": "3e03210f-421f-4fe2-8fa0-01cd4e0a8cf9",
      "name": "Toggle Direccion Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, pais from pais;",
        "options": {}
      },
      "id": "d6f6764c-38c4-4b17-9443-016b3d0f733b",
      "name": "Get Paises",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        624
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, provincia from provincia where id_pais = $1;",
        "options": {
          "queryReplacement": "={{ $json.body.idPais }}"
        }
      },
      "id": "7da6dd0a-4653-4101-9774-d097fac645d9",
      "name": "Get Provincias",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, localidad from localidad where id_provincia = $1;",
        "options": {
          "queryReplacement": "={{ $json.body.idProvincia }}"
        }
      },
      "id": "c419c73d-9c62-4031-ae46-d1924a44dd2f",
      "name": "Get Localidades",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        880
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Client Addresses Management API": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Build Get Direcciones Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Create Direcciones Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Direccion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Toggle Direccion Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Paises",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Provincias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Localidades",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Action Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Get Direcciones Query": {
      "main": [
        [
          {
            "node": "Get Direcciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Direcciones": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Create Direcciones Query": {
      "main": [
        [
          {
            "node": "Create Direccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Direccion": {
      "main": [
        [
          {
            "node": "Build Get Created Direccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Get Created Direccion": {
      "main": [
        [
          {
            "node": "Get Created Direccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Direccion": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Direccion": {
      "main": [
        [
          {
            "node": "Build Get Created Direccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle Direccion Status": {
      "main": [
        [
          {
            "node": "Build Get Created Direccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Paises": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Provincias": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Localidades": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bc2865da-8243-42fc-a855-472207eeb3d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0be933b78a35dd21a30a023de1af3d127feafa94bc11949cc457a6e73f9525d9"
  },
  "id": "qPKSV0cBVddjRqZK",
  "tags": []
}