EntornoDesarrollo/n8n/workflows/Documentos_trabajador.json
{
  "updatedAt": "2026-07-14T14:27:47.122Z",
  "createdAt": "2026-07-14T14:27:08.139Z",
  "id": "DvQWxW1CqpAx1na8",
  "name": "Documentos",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "6ac4065b-0264-4f22-b4cb-55f281e3a1f8",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        528
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getDocumentosByTrabajador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getDocumentos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "uploadDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "upload"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "deleteDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getDocumentoArchivo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getArchivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getTiposDoc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getTipos"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "4920f03a-1054-4071-a18d-719a8f58d3f1",
      "name": "Switch Sub-Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -496,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  d.id,\n  d.nombre_fichero,\n  td.tipo AS tipo_nombre,\n  d.id_tipodoc AS tipo_id,\n  d.descripcion,\n  d.created_at AS fecha_creacion,\n  NULL::json AS firma\nFROM documentacion d\nLEFT JOIN tipodoc td ON td.id = d.id_tipodoc\nWHERE d.id_trabajador = $1\nORDER BY d.created_at DESC;",
        "options": {
          "queryReplacement": "={{ [$json.body.trabajadorId] }}"
        }
      },
      "id": "e4c3583e-54de-432b-84f6-7e99ad00e8cc",
      "name": "SQL: Get Documentos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "alwaysOutputData": true,
      "position": [
        -112,
        16
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normaliza el payload de creación de documento. El front manda createDocumento con todo\n// bajo body.documentoData; el alta al crear un trabajador manda uploadDocumento con los\n// campos planos en body. Unificamos ambas formas y convertimos los ids a enteros.\n// El base64 puede llegar como Data URL completa (data:mime;base64,xxxx) o ya limpio; se normaliza aquí.\n// Procesa TODOS los items: soporta varios documentos en una misma alta de trabajador.\nconst toInt = (v) => (v === null || v === undefined || v === '') ? null : parseInt(v, 10);\nconst stripDataUrl = (s) => (typeof s === 'string' && s.includes(',')) ? s.split(',').pop() : (s || '');\nreturn $input.all().map((item) => {\n  const b = item.json.body || {};\n  const d = b.documentoData || b;\n  return {\n    json: {\n      id_trabajador: toInt(d.id_trabajador ?? d.trabajadorId ?? b.trabajadorId),\n      tipoId: toInt(d.tipoId),\n      descripcion: d.descripcion || '',\n      requiere_firma: d.requiere_firma === true,\n      fileName: d.fileName || d.nombre || null,\n      base64: stripDataUrl(d.base64 || '')\n    }\n  };\n});"
      },
      "id": "ea04d941-7be6-469d-a3e2-1aaefa477159",
      "name": "JS: Normalizar Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO documentacion (id_trabajador, id_tipodoc, nombre_fichero, doc, descripcion)\nVALUES ($1, $2, $3, decode($4, 'base64'), $5)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.id_trabajador, $json.tipoId, $json.fileName, $json.base64, $json.descripcion] }}"
        }
      },
      "id": "6d6a0020-1d8e-4d7c-a4e7-f6ec14706000",
      "name": "SQL: Insert Manual",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        336
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE documentacion SET\n  descripcion = COALESCE($2, descripcion),\n  nombre_fichero = CASE WHEN $3 <> '' THEN $3 ELSE nombre_fichero END,\n  doc = CASE WHEN $4 <> '' THEN decode($4, 'base64') ELSE doc END,\n  updated_at = NOW()\nWHERE id = $1\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [($json.body.documentoData||{}).id, ($json.body.documentoData||{}).descripcion || null, ($json.body.documentoData||{}).fileName || '', (($json.body.documentoData||{}).base64 || '').includes(',') ? ($json.body.documentoData.base64.split(',').pop()) : (($json.body.documentoData||{}).base64 || '')] }}"
        }
      },
      "id": "8a26b4e8-0828-42f0-b5ba-387a77323bca",
      "name": "SQL: Update Documento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM documentacion WHERE id = $1 RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.body.documentoId] }}"
        }
      },
      "id": "38f96d14-e098-4d01-9ebb-6d15c3f8b840",
      "name": "SQL: Delete Documento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT encode(doc, 'base64') AS contenido_b64 FROM documentacion WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [$json.body.documentoId] }}"
        }
      },
      "id": "a6a181c2-19ac-48a6-98e7-06fb3ffc2eab",
      "name": "SQL: Get Archivo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "alwaysOutputData": true,
      "position": [
        -112,
        784
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, tipo FROM tipodoc ORDER BY tipo ASC;",
        "options": {}
      },
      "id": "5636694d-0edc-484c-83ed-76cd882630a6",
      "name": "SQL: Get Tipos Doc",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "alwaysOutputData": true,
      "position": [
        -112,
        928
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Switch Sub-Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Sub-Action": {
      "main": [
        [
          {
            "node": "SQL: Get Documentos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JS: Normalizar Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JS: Normalizar Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Update Documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Delete Documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Archivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Tipos Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS: Normalizar Create": {
      "main": [
        [
          {
            "node": "SQL: Insert Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "12b100e1-e740-416f-aab8-0662929f7413",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-14T14:27:08.139Z",
      "createdAt": "2026-07-14T14:27:08.139Z",
      "role": "workflow:owner",
      "workflowId": "DvQWxW1CqpAx1na8",
      "projectId": "1jsMnEE0b9kf1UbY",
      "project": {
        "updatedAt": "2026-06-09T15:17:52.663Z",
        "createdAt": "2026-06-09T15:08:07.727Z",
        "id": "1jsMnEE0b9kf1UbY",
        "name": "Tomás Vázquez Blanco <tomas.vazquez@sgtech.tech>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "2b7f1a40-07c5-4722-9fa9-880fa5bfcdfd"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
