EntornoDesarrollo/n8n/workflows/Empresas.json
{
  "name": "Empresas",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getEmpresas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8721f3fa-6cec-4ec7-8b2a-4cb18dc5021f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Empresas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createEmpresa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a8a86114-c88e-40b0-8c6a-0f0c6e88afbb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create Empresa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateEmpresa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f425a091-dc7c-4731-8921-2e4d9a2ee6fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Empresa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "toggleEmpresaStatus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6d59afcf-533f-4cb0-b1d5-0bbfe135f13d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Toggle Empresa Status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f08df66f-cda8-4483-8d0b-498a37768aa8",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getTiposEmpresa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Tipos Empresa"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Invalid Action"
        }
      },
      "id": "13c290bd-2582-495c-b573-a9a9b2358ce3",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"data\": $input.all().map(i =\u003e ({\n  id: i.json.id,\n  nombre: i.json.nombre,\n  razonSocial: i.json.razon_social,\n  cif: i.json.cif,\n  activo: i.json.activo,\n  id_tipo_empresa: i.json.id_tipo_empresa,\n  tipo: i.json.tipo,\n  id_comercial: i.json.id_comercial,\n  comercial: i.json.comercial,\n  direcciones: Number(i.json.direcciones),\n  contactos: Number(i.json.contactos)\n})) } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "2ea29faf-3c81-40d8-a548-b9f0c397dd93",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1008,
        384
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "2",
              "name": "error",
              "value": "Invalid action. Supported actions: getEmpresas, createEmpresa, updateEmpresa, toggleEmpresaStatus",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ca2c8def-2ea6-4215-8811-0540ed171634",
      "name": "Invalid Action Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        832
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "857bffb9-e8ca-47ed-96b8-34ce59525305",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        832
      ]
    },
    {
      "parameters": {
        "content": "## Empresas Management API\n\n**Endpoint:** POST /webhook/gestion-empresas\n\n**Actions:**\n- getEmpresas: Obtiene las empresas clientes\n- createEmpresa: creación de empresa cliente\n- updateEmpresa: actualizar empresa cliente mediante ID\n- toggleEmpresaStatus: dar de baja a empresa cliente mediante ID\n- getTiposEmpresa: obtiene los tipos de las empresas",
        "height": 312,
        "width": 340,
        "color": 4
      },
      "id": "86ca3a50-c39c-4f86-b591-c4183055177c",
      "name": "Sticky Note 7ebaaad5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        256
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gestion-empresas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e00f7ff6-370b-4bf9-a1d1-b7c083702a08",
      "name": "Gestión Empresas API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        384
      ],
      "webhookId": "0105c6ba-d2f2-478a-87b6-cf65f658184e"
    },
    {
      "parameters": {
        "jsCode": "const filters = $input.item.json.body.filters || {};\nconst conditions = [];\nconst params = [];\nlet paramIndex = 1;\n\nlet query = `SELECT e.id, e.nombre_empresa AS nombre, e.razon_social, e.cif, e.created_at, e.activo, e.id_tipo_empresa,\nt.tipo_empresa AS tipo, e.id_comerciales, COUNT(DISTINCT d.id) AS direcciones, \nCOUNT(DISTINCT c.id) AS contactos \nFROM empresa e \nLEFT JOIN tipo_empresa t ON t.id = e.id_tipo_empresa \nLEFT JOIN direccion_empresa d ON d.id_empresa = e.id \nLEFT JOIN contacto_empresa c ON c.id_empresa = e.id \nWHERE 1=1`;\n\nif (filters.searchText \u0026\u0026 filters.searchText.trim() !== \u0027\u0027) {\n  conditions.push(`(e.nombre_empresa ILIKE $${paramIndex})`);\n  params.push(`%${filters.searchText}%`);\n  paramIndex++;\n}\n\nif (filters.tipo \u0026\u0026 filters.tipo.trim() !== \u0027\u0027) {\n  conditions.push(`t.tipo_empresa = $${paramIndex}`);\n  params.push(filters.tipo);\n  paramIndex++;\n}\n\nif (conditions.length \u003e 0) {\n  query += \u0027 AND \u0027 + conditions.join(\u0027 AND \u0027);\n}\n\nquery += \u0027 GROUP BY e.id, e.nombre_empresa, t.tipo_empresa\u0027;\nquery += \u0027 ORDER BY e.created_at ASC\u0027;\n\nreturn [{\n  json: {\n    query: query,\n    params: params.join(\u0027,\u0027)\n  }\n}];"
      },
      "id": "a432b92e-13df-4a1e-9d91-4fc1a71ce169",
      "name": "Build Get Empresas Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "113751f3-6216-47e0-a900-66f9173a85da",
      "name": "Get Empresas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        48
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "18ed9a0c-a8b5-4a31-aa32-5e53c4b959c2",
      "name": "Create Empresa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE empresa SET nombre_empresa = $1, razon_social = $2, cif = $3, id_tipo_empresa = $4, id_comerciales =  NULLIF(NULLIF($5::text, \u0027\u0027), \u0027null\u0027)::integer, activo = $6, updated_at = NOW() WHERE id = $7 RETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.body.empresaData.nombre }},{{ $json.body.empresaData.razonSocial }},{{ $json.body.empresaData.cif }},{{ $json.body.empresaData.id_tipo_empresa }},{{ $json.body.empresaData.id_comercial }},{{ $json.body.empresaData.activo }},{{ $json.body.empresaId }}"
        }
      },
      "id": "4a29a274-89f2-444a-ab38-adb92f6a7bd5",
      "name": "Update Empresa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE empresa \nSET activo = NOT activo, updated_at = NOW() \nWHERE id = $1\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.body.empresaId }}"
        }
      },
      "id": "98568c5b-3e39-4770-ae51-021fde0552ed",
      "name": "Toggle Empresa Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        512
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\n\nconst fields = [\u0027nombre_empresa\u0027, \u0027razon_social\u0027, \u0027cif\u0027, \u0027id_tipo_empresa\u0027, \u0027activo\u0027];\nconst values = [body.empresaData.nombre, body.empresaData.razonSocial, body.empresaData.cif, body.empresaData.id_tipo_empresa, body.empresaData.activo];\n\nif (body.empresaData.id_comerciales !== null \u0026\u0026 body.empresaData.id_comerciales !== undefined) {\n  fields.push(\u0027id_comerciales\u0027);\n  values.push(body.empresaData.id_comerciales);\n}\n\nconst placeholders = values.map((_, i) =\u003e `$${i + 1}`).join(\u0027, \u0027);\n\nreturn [{\n  json: {\n    query: `INSERT INTO empresa (${fields.join(\u0027, \u0027)})\n            VALUES (${placeholders})\n            RETURNING id, nombre_empresa AS nombre, razon_social, cif, id_tipo_empresa, id_comerciales, activo, created_at`,\n    params: values.join(\u0027,\u0027)\n  }\n}];"
      },
      "id": "a2f02678-06f8-45b4-8db2-863fdd1cd6a7",
      "name": "Build Create Empresas Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, tipo_empresa as nombre from tipo_empresa;",
        "options": {}
      },
      "id": "fa011cfe-cf88-43dc-98dc-f8d793edc6a3",
      "name": "Get Tipos Empresa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        672
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const id = $input.item.json.id;\n\nreturn [{\n  json: {\n    query: `\n      SELECT \n        e.id,\n        e.nombre_empresa        AS nombre,\n        e.razon_social,\n        e.cif,\n        e.activo,\n        e.id_tipo_empresa,\n        t.tipo_empresa          AS tipo,\n        e.id_comerciales,\n        NULLIF(CONCAT(c.nombre, \u0027 \u0027, c.primer_apellido), \u0027 \u0027) AS comercial,\n        COUNT(DISTINCT d.id)    AS direcciones,\n        COUNT(DISTINCT co.id)   AS contactos\n      FROM empresa e\n      LEFT JOIN tipo_empresa t  ON t.id = e.id_tipo_empresa\n      LEFT JOIN comerciales c     ON c.id = e.id_comerciales\n      LEFT JOIN direccion_empresa d  ON d.id_empresa = e.id\n      LEFT JOIN contacto_empresa co  ON co.id_empresa = e.id\n      WHERE e.id = $1\n      GROUP BY e.id, t.tipo_empresa, c.nombre, c.primer_apellido\n    `,\n    params: String(id)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        384
      ],
      "id": "c4100fbd-a192-4ff3-b80e-5be03a6e5565",
      "name": "Build Get Created Empresa"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "8722bde3-0e4b-40a9-908c-51676b9fcec9",
      "name": "Get Created Empresa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Route by Action": {
      "main": [
        [
          {
            "node": "Build Get Empresas Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Create Empresas Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Empresa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Toggle Empresa Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Tipos Empresa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Action Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gestión Empresas API": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Get Empresas Query": {
      "main": [
        [
          {
            "node": "Get Empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Empresas": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Empresa": {
      "main": [
        [
          {
            "node": "Build Get Created Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Empresa": {
      "main": [
        [
          {
            "node": "Build Get Created Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle Empresa Status": {
      "main": [
        [
          {
            "node": "Build Get Created Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Create Empresas Query": {
      "main": [
        [
          {
            "node": "Create Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tipos Empresa": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Get Created Empresa": {
      "main": [
        [
          {
            "node": "Get Created Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Empresa": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "610ac43c-2309-43be-a489-e5ad6f00c90e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0be933b78a35dd21a30a023de1af3d127feafa94bc11949cc457a6e73f9525d9"
  },
  "id": "R0QaOBkAeSiUKvhb",
  "tags": []
}