EntornoDesarrollo/n8n/workflows/Empresas.json
{
  "name": "Empresas",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getEmpresas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8721f3fa-6cec-4ec7-8b2a-4cb18dc5021f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Empresas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createEmpresa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a8a86114-c88e-40b0-8c6a-0f0c6e88afbb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create Empresa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateEmpresa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f425a091-dc7c-4731-8921-2e4d9a2ee6fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Empresa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "toggleEmpresaStatus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6d59afcf-533f-4cb0-b1d5-0bbfe135f13d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Toggle Empresa Status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f08df66f-cda8-4483-8d0b-498a37768aa8",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getTiposEmpresa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Tipos Empresa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3b458c26-ebac-4810-a114-ebfce2c982d9",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "importEmpresa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Import Empresa Csv"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Invalid Action"
        }
      },
      "id": "13c290bd-2582-495c-b573-a9a9b2358ce3",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"data\": $input.all().map(i => ({\n  id: i.json.id,\n  nombre: i.json.nombre,\n  razonSocial: i.json.razon_social,\n  cif: i.json.cif,\n  activo: i.json.activo,\n  id_tipo_empresa: i.json.id_tipo_empresa,\n  tipo: i.json.tipo,\n  id_comerciales: i.json.id_comerciales,\n  comercial: i.json.comercial,\n  direcciones: Number(i.json.direcciones),\n  contactos: Number(i.json.contactos)\n})),\n\"total\": $input.first().json.total_count,\n\"totalActivos\": $input.first().json.total_activos,\n\"totalInactivos\": $input.first().json.total_inactivos\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "2ea29faf-3c81-40d8-a548-b9f0c397dd93",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1008,
        384
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "2",
              "name": "error",
              "value": "Invalid action. Supported actions: getEmpresas, createEmpresa, updateEmpresa, toggleEmpresaStatus",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ca2c8def-2ea6-4215-8811-0540ed171634",
      "name": "Invalid Action Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        992
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "857bffb9-e8ca-47ed-96b8-34ce59525305",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        992
      ]
    },
    {
      "parameters": {
        "content": "## Empresas Management API\n\n**Endpoint:** POST /webhook/gestion-empresas\n\n**Actions:**\n- getEmpresas: Obtiene las empresas clientes\n- createEmpresa: creación de empresa cliente\n- updateEmpresa: actualizar empresa cliente mediante ID\n- toggleEmpresaStatus: dar de baja a empresa cliente mediante ID\n- getTiposEmpresa: obtiene los tipos de las empresas",
        "height": 312,
        "width": 340,
        "color": 4
      },
      "id": "86ca3a50-c39c-4f86-b591-c4183055177c",
      "name": "Sticky Note 7ebaaad5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        -128
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gestion-empresas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e00f7ff6-370b-4bf9-a1d1-b7c083702a08",
      "name": "Gestión Empresas API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        400
      ],
      "webhookId": "0105c6ba-d2f2-478a-87b6-cf65f658184e"
    },
    {
      "parameters": {
        "jsCode": "const filters = $input.item.json.body.filters || {};\nconst page = $input.item.json.body.page || 1;\nconst limit = $input.item.json.body.limit || 10;\nconst offset = (page - 1) * limit;\n\nconst conditions = [];\nconst params = [];\nlet paramIndex = 1;\n\nlet query = `SELECT e.id, e.nombre_empresa AS nombre, e.razon_social, e.cif, e.created_at, e.activo, e.id_tipo_empresa,\nt.tipo_empresa AS tipo, e.id_comerciales, NULLIF(CONCAT(com.nombre, ' ', com.primer_apellido), ' ') AS comercial, COUNT(DISTINCT d.id) AS direcciones, \nCOUNT(DISTINCT c.id) AS contactos, COUNT(*) OVER() AS total_count,\nCOUNT(*) FILTER (WHERE e.activo = true) OVER() AS total_activos, COUNT(*) FILTER (WHERE e.activo = false) OVER() AS total_inactivos\nFROM empresa e \nLEFT JOIN tipo_empresa t ON t.id = e.id_tipo_empresa\nLEFT JOIN comerciales com ON com.id = e.id_comerciales\nLEFT JOIN direccion_empresa d ON d.id_empresa = e.id \nLEFT JOIN contacto_empresa c ON c.id_empresa = e.id \nWHERE 1=1`;\n\nif (filters.searchText && filters.searchText.trim() !== '') {\n  conditions.push(`(e.nombre_empresa ILIKE $${paramIndex})`);\n  params.push(`%${filters.searchText}%`);\n  paramIndex++;\n}\n\nif (filters.tipo && filters.tipo.trim() !== '') {\n  conditions.push(`t.tipo_empresa = $${paramIndex}`);\n  params.push(filters.tipo);\n  paramIndex++;\n}\n\nif (filters.status && filters.status.trim() !== '') {\n  if (filters.status === 'activa') {\n    conditions.push(`e.activo = true`);\n  } else if (filters.status === 'baja') {\n    conditions.push(`e.activo = false`);\n  }\n}\n\nif (conditions.length > 0) {\n  query += ' AND ' + conditions.join(' AND ');\n}\n\nquery += ' GROUP BY e.id, e.nombre_empresa, t.tipo_empresa, com.nombre, com.primer_apellido';\nquery += ' ORDER BY e.created_at ASC';\nquery += ` LIMIT ${limit} OFFSET ${offset}`;\n\nreturn [{\n  json: {\n    query: query,\n    params: params.join(',')\n  }\n}];"
      },
      "id": "a432b92e-13df-4a1e-9d91-4fc1a71ce169",
      "name": "Build Get Empresas Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "113751f3-6216-47e0-a900-66f9173a85da",
      "name": "Get Empresas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        48
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "18ed9a0c-a8b5-4a31-aa32-5e53c4b959c2",
      "name": "Create Empresa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE empresa SET nombre_empresa = $1, razon_social = $2, cif = $3, id_tipo_empresa = $4, id_comerciales =  NULLIF(NULLIF($5::text, ''), 'null')::integer, activo = $6, updated_at = NOW() WHERE id = $7 RETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.body.empresaData.nombre }},{{ $json.body.empresaData.razonSocial }},{{ $json.body.empresaData.cif }},{{ $json.body.empresaData.id_tipo_empresa }},{{ $json.body.empresaData.id_comerciales }},{{ $json.body.empresaData.activo }},{{ $json.body.empresaId }}"
        }
      },
      "id": "4a29a274-89f2-444a-ab38-adb92f6a7bd5",
      "name": "Update Empresa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE empresa \nSET activo = NOT activo, updated_at = NOW() \nWHERE id = $1\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.body.empresaId }}"
        }
      },
      "id": "98568c5b-3e39-4770-ae51-021fde0552ed",
      "name": "Toggle Empresa Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        512
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\n\nconst fields = ['nombre_empresa', 'razon_social', 'cif', 'id_tipo_empresa', 'activo'];\nconst values = [body.empresaData.nombre, body.empresaData.razonSocial, body.empresaData.cif, body.empresaData.id_tipo_empresa, body.empresaData.activo];\n\nif (body.empresaData.id_comerciales !== null && body.empresaData.id_comerciales !== undefined) {\n  fields.push('id_comerciales');\n  values.push(body.empresaData.id_comerciales);\n}\n\nconst placeholders = values.map((_, i) => `$${i + 1}`).join(', ');\n\nreturn [{\n  json: {\n    query: `INSERT INTO empresa (${fields.join(', ')})\n            VALUES (${placeholders})\n            RETURNING id, nombre_empresa AS nombre, razon_social, cif, id_tipo_empresa, id_comerciales, activo, created_at`,\n    params: values.join(',')\n  }\n}];"
      },
      "id": "a2f02678-06f8-45b4-8db2-863fdd1cd6a7",
      "name": "Build Create Empresas Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, tipo_empresa as nombre from tipo_empresa;",
        "options": {}
      },
      "id": "fa011cfe-cf88-43dc-98dc-f8d793edc6a3",
      "name": "Get Tipos Empresa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        672
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const id = $input.item.json.id;\n\nreturn [{\n  json: {\n    query: `\n      SELECT \n        e.id,\n        e.nombre_empresa        AS nombre,\n        e.razon_social,\n        e.cif,\n        e.activo,\n        e.id_tipo_empresa,\n        t.tipo_empresa          AS tipo,\n        e.id_comerciales,\n        NULLIF(CONCAT(c.nombre, ' ', c.primer_apellido), ' ') AS comercial,\n        COUNT(DISTINCT d.id)    AS direcciones,\n        COUNT(DISTINCT co.id)   AS contactos\n      FROM empresa e\n      LEFT JOIN tipo_empresa t  ON t.id = e.id_tipo_empresa\n      LEFT JOIN comerciales c     ON c.id = e.id_comerciales\n      LEFT JOIN direccion_empresa d  ON d.id_empresa = e.id\n      LEFT JOIN contacto_empresa co  ON co.id_empresa = e.id\n      WHERE e.id = $1\n      GROUP BY e.id, t.tipo_empresa, c.nombre, c.primer_apellido\n    `,\n    params: String(id)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        384
      ],
      "id": "c4100fbd-a192-4ff3-b80e-5be03a6e5565",
      "name": "Build Get Created Empresa"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "8722bde3-0e4b-40a9-908c-51676b9fcec9",
      "name": "Get Created Empresa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\n\nconst JWT_SECRET = 'passEncriptada';\nconst PUBLIC_ACTIONS = ['getRole'];\n\nconst body = $json.body;\nconst action = body?.action || '';\n\nif (PUBLIC_ACTIONS.includes(action)) {\n  return [{ json: { ...$json, _bypass: true } }];\n}\n\nconst headers = $json.headers || {};\nconst authHeader = headers['authorization'] || headers['Authorization'] || '';\nconst bodyToken  = body?.token || '';\nconst rawToken   = authHeader || bodyToken;\n\nconst token = rawToken.replace('Bearer ', '').trim();\n\nif (!token) {\n  return [{ json: { _authError: true, status: 401, message: 'Token no proporcionado' } }];\n}\n\ntry {\n  const decoded = jwt.verify(token, JWT_SECRET);\n  return [{\n    json: {\n      ...$json,\n      _auth: { id: decoded.id, email: decoded.email, role: decoded.role }\n    }\n  }];\n} catch (err) {\n  return [{ json: { _authError: true, status: 401, message: 'Token inválido o expirado - ' + err.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        400
      ],
      "id": "218e94c5-25e2-4c63-9d03-5ca83669f6f7",
      "name": "JWT Verify"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-check-001",
              "leftValue": "={{ $json._authError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        400
      ],
      "id": "3d7968a8-e7d3-4a95-9568-e9f8e5b789ba",
      "name": "Auth Error?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.message }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -224,
        144
      ],
      "id": "a73e1325-7abb-49e9-83df-482badae2e35",
      "name": "Respond 401"
    },
    {
      "parameters": {
        "jsCode": "const body   = $input.item.json.body;\nconst data   = body.empresaData;\nconst params = [];\nlet paramIndex = 1;\n\nconst tipoQuery    = `SELECT id FROM tipo_empresa WHERE tipo_empresa = $1`;\nconst comercialQuery = data.comercial \n  ? `SELECT id FROM comerciales WHERE CONCAT(nombre, ' ', primer_apellido) = $1`\n  : null;\n\nreturn [{\n  json: {\n    nombre:      data.nombre,\n    razonSocial: data.razonSocial,\n    cif:         data.cif,\n    tipo:        data.tipo,\n    comercial:   data.comercial || null,\n    activo:      data.activo,\n    tipoQuery,\n    comercialQuery,\n  }\n}];"
      },
      "id": "1da89a5b-ce71-45be-a4d1-eafbb3101204",
      "name": "Build Import Empresas Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        832
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM tipo_empresa WHERE tipo_empresa = $1",
        "options": {
          "queryReplacement": "={{ $json.tipo }}"
        }
      },
      "id": "61df7ad7-e36a-419d-a637-f370846e5b59",
      "name": "Resolve Tipo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        832
      ],
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM comerciales WHERE CONCAT(nombre, ' ', primer_apellido) = $1",
        "options": {
          "queryReplacement": "={{ $json.comercial }}"
        }
      },
      "id": "6969bc9c-4be2-458c-9fc9-00520376cbf0",
      "name": "Resolve Comercial",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        784
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data       = $('Build Import Empresas Query').first().json;\nconst tipoResult = $('Resolve Tipo').first().json;\n\nlet idComercial = null;\ntry {\n  const comResult = $('Resolve Comercial').first().json;\n  idComercial = comResult?.id ?? null;\n} catch (e) {\n  idComercial = null;\n}\n\nconst idTipo = tipoResult?.id ?? null;\nif (!idTipo) throw new Error(`Tipo \"${data.tipo}\" no encontrado`);\n\nreturn [{\n  json: {\n    query: `INSERT INTO empresa (nombre_empresa, razon_social, cif, id_tipo_empresa, id_comerciales, activo)\n            VALUES ($1, $2, $3, $4, NULLIF(NULLIF($5::text, ''), 'null')::integer, $6)\n            RETURNING id, nombre_empresa AS nombre, razon_social, cif, id_tipo_empresa, id_comerciales, activo`,\n    param1: data.nombre,\n    param2: data.razonSocial,\n    param3: data.cif,\n    param4: idTipo,\n    param5: idComercial,\n    param6: data.activo,\n  }\n}];"
      },
      "id": "aaadc877-829e-4576-b566-a3c898ffbbb5",
      "name": "Build Insert Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        960
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.param1 }},{{ $json.param2 }},{{ $json.param3 }},{{ $json.param4 }},{{ $json.param5 }},{{ $json.param6 }}"
        }
      },
      "id": "f361e616-c4a0-40df-b009-cfd8a8babe22",
      "name": "Execute Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        736
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "QhgEBWfGGCBRrHwt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a1e3acb1-0290-43bb-91c2-0c638b8f9770",
              "leftValue": "={{ $json.comercial }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        912
      ],
      "id": "a2d0d0f6-aa58-43af-ac6c-6f574a6a9919",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Route by Action": {
      "main": [
        [
          {
            "node": "Build Get Empresas Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Create Empresas Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Empresa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Toggle Empresa Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Tipos Empresa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Import Empresas Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Action Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gestión Empresas API": {
      "main": [
        [
          {
            "node": "JWT Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Get Empresas Query": {
      "main": [
        [
          {
            "node": "Get Empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Empresas": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Empresa": {
      "main": [
        [
          {
            "node": "Build Get Created Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Empresa": {
      "main": [
        [
          {
            "node": "Build Get Created Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle Empresa Status": {
      "main": [
        [
          {
            "node": "Build Get Created Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Create Empresas Query": {
      "main": [
        [
          {
            "node": "Create Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tipos Empresa": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Get Created Empresa": {
      "main": [
        [
          {
            "node": "Get Created Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Empresa": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Verify": {
      "main": [
        [
          {
            "node": "Auth Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Error?": {
      "main": [
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Import Empresas Query": {
      "main": [
        [
          {
            "node": "Resolve Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Tipo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Comercial": {
      "main": [
        [
          {
            "node": "Build Insert Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Insert Query": {
      "main": [
        [
          {
            "node": "Execute Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Insert": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Resolve Comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Insert Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "45c1fb02-f4fa-4e2b-bcee-53cd1d22056c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0be933b78a35dd21a30a023de1af3d127feafa94bc11949cc457a6e73f9525d9"
  },
  "id": "R0QaOBkAeSiUKvhb",
  "tags": []
}