EntornoDesarrollo/n8n/workflows/My workflow (fixed).json
{
  "updatedAt": "2026-04-08T14:24:41.878Z",
  "createdAt": "2026-04-08T14:20:56.598Z",
  "id": "C2c8tri7PPlgbUXb",
  "name": "My workflow (fixed)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "005bf58d-b519-4d05-83d1-d6d321a7620c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        288
      ],
      "id": "f6143ffe-ecd8-4d64-ba9e-e7ef63c3cab8",
      "name": "Webhook",
      "webhookId": "005bf58d-b519-4d05-83d1-d6d321a7620c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getUser",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d829c749-62d4-4582-b21b-722c26995b9c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getUser"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "430758cd-c9f3-4db0-9f62-1041d7716995",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createUser",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "createUser"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a0bdc430-5ab2-4fc6-90f2-16388a8ce15b",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateUser",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "updateUser"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4faf9ec9-8c9f-4415-83f6-3b4e7f14748c",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "deleteUser",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deleteUser"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4695df15-83dc-41fd-9c7a-0756c0bba6b9",
                    "leftValue": "=",
                    "rightValue": "deleteUser",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid Action"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        288
      ],
      "id": "44b2d02c-a4fa-490f-813e-75c25901b98b",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        736,
        400
      ],
      "id": "2365d00d-8ef7-4fc5-aba6-7ff440250159",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM users",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        0
      ],
      "id": "6839b75e-e7c6-4233-b0a0-e27322917e9d",
      "name": "getUser",
      "credentials": {
        "postgres": {
          "id": "zFyzuLeU91ps6k4G",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "enabled": true,
            "password": "SGPasswordPostgres",
            "name": "Danny",
            "id": 1,
            "email": "daniel.pedrero@sgtech.tech",
            "surname": "fds",
            "role_id": 1,
            "created_at": "2026-04-06T00:00:00"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "surname",
              "displayName": "surname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role_id",
              "displayName": "role_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "enabled",
              "displayName": "enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        176
      ],
      "id": "904e111b-0d26-4516-b9c3-f5ca83600a38",
      "name": "createUser",
      "credentials": {
        "postgres": {
          "id": "zFyzuLeU91ps6k4G",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "enabled": false,
            "id": 0,
            "role_id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "surname",
              "displayName": "surname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role_id",
              "displayName": "role_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "enabled",
              "displayName": "enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        368
      ],
      "id": "a3f5f5e8-3459-4bc0-9442-846b41c2877c",
      "name": "updateUser",
      "credentials": {
        "postgres": {
          "id": "zFyzuLeU91ps6k4G",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        544
      ],
      "id": "77aaa37d-03f7-414a-8a4e-f9065e84279d",
      "name": "deleteUser",
      "credentials": {
        "postgres": {
          "id": "zFyzuLeU91ps6k4G",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "def build_get_users_query(body: dict):\n   \n    limit = int(body.get(\"limit\", 100))\n    offset = int(body.get(\"offset\", 0))\n    search = body.get(\"search\")\n    role = body.get(\"role\")\n    active = body.get(\"active\")\n\n    query = \"SELECT * FROM users WHERE 1=1\"\n    params = []\n\n    if search:\n        params.append(f\"%{search}%\")\n        query += f\" AND (name ILIKE ${len(params)} OR email ILIKE ${len(params)})\"\n\n    if role:\n        params.append(role)\n        query += f\" AND role = ${len(params)}\"\n\n    if active is not None:\n        params.append(active)\n        query += f\" AND active = ${len(params)}\"\n\n    query += f\" ORDER BY created_at DESC LIMIT {limit} OFFSET {offset}\"\n\n    return {\n        \"query\": query,\n        \"params\": params,\n        \"originalBody\": body\n    }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "c1dc3844-8b62-4cf9-90ee-d1689d8f2960",
      "name": "FIlter"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "FIlter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "createUser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "updateUser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "deleteUser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getUser": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createUser": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateUser": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleteUser": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FIlter": {
      "main": [
        [
          {
            "node": "getUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "567e37df-f828-4142-ba69-8e2af0ac665e",
  "activeVersionId": "567e37df-f828-4142-ba69-8e2af0ac665e",
  "versionCounter": 23,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-20T08:18:15.468Z",
      "createdAt": "2026-04-20T08:18:15.468Z",
      "role": "workflow:owner",
      "workflowId": "C2c8tri7PPlgbUXb",
      "projectId": "sMjt2I0TYmPreJmq",
      "project": {
        "updatedAt": "2026-04-15T15:06:24.553Z",
        "createdAt": "2026-04-15T15:05:31.736Z",
        "id": "sMjt2I0TYmPreJmq",
        "name": "David Rodrigo Rodriguez <david.rodrigo@sgtech.tech>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b9a55146-5558-4f0e-be5b-a7d5287479d1"
      }
    }
  ],
  "versionMetadata": {
    "name": "Usersv1",
    "description": ""
  }
}