EntornoDesarrollo/n8n/workflows/r8k7krUdPWJ3TxuU.json
{
  "updatedAt": "2026-05-04T11:11:52.441Z",
  "createdAt": "2026-04-09T13:26:23.893Z",
  "id": "r8k7krUdPWJ3TxuU",
  "name": "Usuarios",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\n\nconst JWT_SECRET = 'passEncriptada';\nconst PUBLIC_ACTIONS = ['getRole'];\n\nconst body = $json.body;\nconst action = body?.action || '';\n\nif (PUBLIC_ACTIONS.includes(action)) {\n  return [{ json: { ...$json, _bypass: true } }];\n}\n\nconst headers = $json.headers || {};\nconst authHeader = headers['authorization'] || headers['Authorization'] || '';\nconst bodyToken  = body?.token || '';\nconst rawToken   = authHeader || bodyToken;\n\nconst token = rawToken.replace('Bearer ', '').trim();\n\nif (!token) {\n  return [{ json: { _authError: true, status: 401, message: 'Token no proporcionado' } }];\n}\n\ntry {\n  const decoded = jwt.verify(token, JWT_SECRET);\n  return [{\n    json: {\n      ...$json,\n      _auth: { id: decoded.id, email: decoded.email, role: decoded.role }\n    }\n  }];\n} catch (err) {\n  return [{ json: { _authError: true, status: 401, message: 'Token inválido o expirado - ' + err.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        2096
      ],
      "id": "16f7f5d1-d041-4c42-9a47-5a1101e6f3ce",
      "name": "JWT Verify"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-check-001",
              "leftValue": "={{ $json._authError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        2096
      ],
      "id": "1dc5a64d-4370-48b8-864e-5c8ac1860487",
      "name": "Auth Error?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.message }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -32,
        1840
      ],
      "id": "588beb31-2751-4527-bf2e-c100a973e2df",
      "name": "Respond 401"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "usuarios",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        2096
      ],
      "id": "569e6a72-6c27-4316-b5a0-daa99955782c",
      "name": "Webhook1",
      "webhookId": "005bf58d-b519-4d05-83d1-d6d321a7620c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getUser",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d829c749-62d4-4582-b21b-722c26995b9c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getUser"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "430758cd-c9f3-4db0-9f62-1041d7716995",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createUser",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "createUser"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a0bdc430-5ab2-4fc6-90f2-16388a8ce15b",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateUser",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "updateUser"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4695df15-83dc-41fd-9c7a-0756c0bba6b9",
                    "leftValue": "=",
                    "rightValue": "invalidAction",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid Action"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0ba751d7-1643-4e86-a140-bf5de269275b",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "Toogle status usuarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ToogleStatusUsuarios"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a398e4aa-8269-456e-9e1e-8fd23d826e41",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getRole",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getRole"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cc112233-aabb-4455-ccdd-ee6677889900",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "changePassword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "changePassword"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -80,
        2144
      ],
      "id": "92f80aa2-7410-493c-8775-4001de05641b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"success\": true, \"data\": $input.all().map(item => item.json) }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        992,
        2224
      ],
      "id": "5a3a1d15-c005-4307-b057-1f57e4b932dd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        1680
      ],
      "id": "eee0fa1c-a1bc-4986-94f0-c6c58c07606f",
      "name": "getUser1",
      "credentials": {
        "postgres": {
          "id": "0PqKc6BkC38ueyxO",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user",
          "mode": "list",
          "cachedResultName": "user"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "enabled": "={{ $json.enabled }}",
            "name": "={{ $json.name }}",
            "surname": "={{ $json.surname }}",
            "email": "={{ $json.email }}",
            "password": "={{ $json.password }}",
            "roleid": "={{ $json.roleid }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "surname",
              "displayName": "surname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "roleid",
              "displayName": "roleid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enabled",
              "displayName": "enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "id",
            "name",
            "surname",
            "email",
            "enabled",
            "roleid"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        1856
      ],
      "id": "4b93f956-1e92-41ed-96ed-3738a5b8890a",
      "name": "createUser1",
      "credentials": {
        "postgres": {
          "id": "Kih4P6xJ67gZaubs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user",
          "mode": "list",
          "cachedResultName": "user"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "surname": "={{ $json.surname }}",
            "email": "={{ $json.email }}",
            "password": "={{ $json.password }}",
            "roleid": "={{ $json.roleid }}",
            "enabled": "={{ $json.enabled }}",
            "first_login": "={{ $json.first_login }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "surname",
              "displayName": "surname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "roleid",
              "displayName": "roleid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enabled",
              "displayName": "enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_login",
              "displayName": "first_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        2016
      ],
      "id": "348a0d7e-1780-4627-aa57-932a6b4234db",
      "name": "updateUser1",
      "credentials": {
        "postgres": {
          "id": "Kih4P6xJ67gZaubs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const filters = $input.item.json.body.filters || {};\nconst page = parseInt($input.item.json.body.page) || 1;\nconst limit = 10;\nconst offset = (page - 1) * limit;\nconst conditions = [];\nconst params = [];\nlet paramIndex = 1;\nlet query = `SELECT id, name, surname, email, roleid, enabled, COUNT(*) OVER() as total_count FROM \"user\" WHERE 1=1`;\nif (filters.searchText && typeof filters.searchText === 'string' && filters.searchText.trim() !== '') {\n  conditions.push(`(CONCAT(name, ' ', surname) ILIKE $${paramIndex} OR email ILIKE $${paramIndex})`);\n  params.push(`%${filters.searchText}%`);\n  paramIndex++;\n}\nif (filters.status !== undefined && filters.status !== null && filters.status !== '') {\n  conditions.push(`enabled = $${paramIndex}`);\n  params.push(filters.status);\n  paramIndex++;\n}\nif (filters.roleid !== undefined && filters.roleid !== null && filters.roleid !== '') {\n  conditions.push(`roleid = $${paramIndex}`);\n  params.push(filters.roleid);\n  paramIndex++;\n}\nif (conditions.length > 0) { query += ' AND ' + conditions.join(' AND '); }\nquery += ` ORDER BY id DESC LIMIT ${limit} OFFSET ${offset}`;\nreturn [{ json: { query, params, page, limit } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1680
      ],
      "id": "d03c39a0-e715-4339-9c94-35d6f28304aa",
      "name": "Filter1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd9b5aaa-14bb-443a-b40e-a6de4ccd1639",
              "name": "exito",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "49390cfd-f444-4b8e-b839-8cc49adf3845",
              "name": "error",
              "value": "InvalidAction",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        2544
      ],
      "id": "c41c2694-c9f7-4691-b6ff-5d2948ea9b59",
      "name": "Invalid Action1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"user\"\nSET enabled = NOT enabled\nWHERE id = $1\nRETURNING id, name, surname, enabled;",
        "options": {
          "queryReplacement": "={{ $json.body.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        2192
      ],
      "id": "d83a9758-4284-4709-9360-5f24c14f1390",
      "name": "Toogle status Usuario1",
      "credentials": {
        "postgres": {
          "id": "Kih4P6xJ67gZaubs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        752,
        2544
      ],
      "id": "fc0fb358-706c-42ca-8f26-7c0b90a0af47",
      "name": "Responde Error1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id, name from role",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        2368
      ],
      "id": "58baab56-75b3-456a-81b1-3f06c3ef3751",
      "name": "getRole1",
      "credentials": {
        "postgres": {
          "id": "0PqKc6BkC38ueyxO",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bcrypt = require('bcryptjs');\nconst body = $json.body;\nconst hashedPassword = await bcrypt.hash(body.password, 10);\nreturn [{ json: { ...body, password: hashedPassword } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1856
      ],
      "id": "0946b012-22b2-41f2-9d55-36f404209f9d",
      "name": "hashPass1"
    },
    {
      "parameters": {
        "jsCode": "const bcrypt = require('bcryptjs');\nconst body = $json.body;\nif (body.password && body.password.trim() !== '') {\n  const hashedPassword = await bcrypt.hash(body.password, 10);\n  return [{ json: { ...body, password: hashedPassword, first_login: false } }];\n}\nconst { password, ...bodyWithoutPassword } = body;\nreturn [{ json: bodyWithoutPassword }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        2016
      ],
      "id": "7ad237b5-1681-4cee-af8a-167a1c697282",
      "name": "hashCode1"
    },
    {
      "parameters": {
        "jsCode": "const bcrypt = require('bcryptjs');\nconst body = $json.body;\nconst hashedPassword = await bcrypt.hash(body.password, 10);\nreturn [{ json: { id: body.id, password: hashedPassword } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        2704
      ],
      "id": "219b9b0e-8339-4735-8aac-52e757d4114f",
      "name": "hashPassChange"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"user\"\nSET password = $1,\n    first_login = false\nWHERE id = $2\nRETURNING id, email, first_login;",
        "options": {
          "queryReplacement": "={{ [$json.password, $json.id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        2704
      ],
      "id": "8f9f6313-b1eb-4030-b119-b62d16544ecd",
      "name": "changePasswordQuery",
      "credentials": {
        "postgres": {
          "id": "Kih4P6xJ67gZaubs",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "JWT Verify": {
      "main": [
        [
          {
            "node": "Auth Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Error?": {
      "main": [
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "JWT Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "hashPass1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "hashCode1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Toogle status Usuario1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getRole1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "hashPassChange",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "getUser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getUser1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createUser1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateUser1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Action1": {
      "main": [
        [
          {
            "node": "Responde Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toogle status Usuario1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRole1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hashPass1": {
      "main": [
        [
          {
            "node": "createUser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hashCode1": {
      "main": [
        [
          {
            "node": "updateUser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hashPassChange": {
      "main": [
        [
          {
            "node": "changePasswordQuery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "changePasswordQuery": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8fad2a76-b3e3-4e4c-aeda-49b4d6fffa92",
  "activeVersionId": "8fad2a76-b3e3-4e4c-aeda-49b4d6fffa92",
  "versionCounter": 558,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-22T09:43:05.809Z",
      "createdAt": "2026-04-22T09:43:05.809Z",
      "role": "workflow:owner",
      "workflowId": "r8k7krUdPWJ3TxuU",
      "projectId": "scuB9Y3NwfAwv0vk",
      "project": {
        "updatedAt": "2026-04-22T09:42:42.949Z",
        "createdAt": "2026-04-22T09:42:05.392Z",
        "id": "scuB9Y3NwfAwv0vk",
        "name": "p v <daniel.pedrero@sgtech.tech>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "06b871d4-11e0-4b54-8aa7-b150c2e36810"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 8fad2a76",
    "description": ""
  }
}