EntornoDesarrollo/n8n/workflows/Seleccionadores.json
{
    "updatedAt": "2026-04-16T20:33:46.973Z",
    "createdAt": "2026-04-13T18:24:51.637Z",
    "id": "qjLNVz9LC37hy4pe",
    "name": "Seleccionadores",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "gestion-seleccionadores",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "2bc597ff-18a8-499f-baa2-4108a297b942",
            "name": "Webhook Seleccionadores",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                240,
                1760
            ],
            "webhookId": "a884095a-9de5-4c1b-9869-56be69f43cca"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "getSeleccionadores",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "57b0dce7-128e-4390-b9c3-94d053326f6e"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "getSeleccionadores"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "getEmpresas",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "e0776c5a-5f17-469d-a584-ed6c3f164935"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "getEmpresas"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "createSeleccionador",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "b87b3a1c-238a-4999-87ef-c091d7e52b44"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "createSeleccionador"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "updateSeleccionador",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "9dbecf0a-f539-498a-ae06-8bf24c00122e"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "updateSeleccionador"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "toggleSeleccionadorStatus",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "8e5f1621-af1b-4c52-b40b-c364f538645d"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "toggleSeleccionadorStatus"
                        }
                    ]
                },
                "options": {}
            },
            "id": "f035668c-72aa-452a-ba77-f7b79aaf3383",
            "name": "Switch Actions",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                496,
                1760
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.item.json.body || {};\nconst filters = body.filters || {};\nconst conditions = [];\nconst params = [];\n\nlet query = `\n  SELECT \n    s.*, \n    (CASE WHEN e.id IS NOT NULL THEN json_build_object(\u0027id\u0027, e.id, \u0027nombre\u0027, e.nombre_empresa) ELSE NULL END) as empresa \n  FROM seleccionadores s \n  LEFT JOIN empresa e ON s.id_empresa = e.id \n  WHERE 1=1\n`;\n\n// 1. Filtro de texto dinámico parametrizado (CORREGIDO: rim() -\u003e trim() y tipo string)\nif (filters.searchText \u0026\u0026 typeof filters.searchText === \u0027string\u0027 \u0026\u0026 filters.searchText.trim() !== \u0027\u0027) {\n  conditions.push(`(CONCAT(s.nombre, \u0027 \u0027, s.primer_apellido, \u0027 \u0027, COALESCE(s.segundo_apellido,\u0027\u0027)) ILIKE $${params.length + 1} OR s.email ILIKE $${params.length + 1})`);\n  params.push(`%${filters.searchText.trim()}%`);\n}\n\n// 2. Filtro de status dinámico parametrizado (CORREGIDO: Manejo del valor del select en Front)\nif (filters.status !== undefined \u0026\u0026 filters.status !== null \u0026\u0026 filters.status !== \u0027\u0027) {\n  const statusStr = String(filters.status).toLowerCase();\n  \n  // Condicional corregido para ignorar si en el select nos mandan \"todos\" o \"todos los estados\"\n  if (statusStr !== \u0027todos\u0027 \u0026\u0026 statusStr !== \u0027todos los estados\u0027) {\n    conditions.push(`s.activo = $${params.length + 1}`);\n    // Solo será true si envían \u0027activo\u0027 / \u0027activos\u0027, caso contrario (\u0027inactivos\u0027 o \u0027de baja\u0027) enviará false\n    params.push(statusStr === \u0027activos\u0027 || statusStr === \u0027activo\u0027);\n  }\n}\n\n// 3. NUEVO: Filtro de tipo dinámico parametrizado (Faltaba incorporar este campo del Frontend)\nif (filters.tipo !== undefined \u0026\u0026 filters.tipo !== null \u0026\u0026 filters.tipo !== \u0027\u0027) {\n  const tipoStr = String(filters.tipo).toLowerCase();\n  \n  // Evitamos filtrar si eligen \"todos o \"todos los tipos\" en el select del form\n  if (tipoStr !== \u0027todos\u0027 \u0026\u0026 tipoStr !== \u0027todos los tipos\u0027) {\n    conditions.push(`s.tipo = $${params.length + 1}`);\n    params.push(tipoStr); // Inyectará \u0027interno\u0027 o \u0027externo\u0027 de forma de segura\n  }\n}\n\nif (conditions.length \u003e 0) {\n  query += \u0027 AND \u0027 + conditions.join(\u0027 AND \u0027);\n}\n\nquery += \u0027 ORDER BY s.created_at DESC\u0027;\n\nreturn [{ json: { query: query, params: params } }];\n"
            },
            "id": "e974d97b-bb4e-4e35-971c-4ad8bbf65b52",
            "name": "JS: Build Get Query",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                784,
                1504
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "{{ $json.query }}",
                "options": {
                    "queryReplacement": "={{ $json.params }}"
                }
            },
            "id": "47870717-618a-437e-b286-87b198971581",
            "name": "SQL: Get Seleccionadores",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                1040,
                1504
            ],
            "credentials": {
                "postgres": {
                    "id": "AUTOPOSTGRESCRED01",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT id, nombre_empresa AS nombre FROM empresa ORDER BY nombre_empresa ASC;",
                "options": {}
            },
            "id": "81f6465a-d2cb-4bcc-ae3d-b63a1ac526d5",
            "name": "SQL: Get Empresas",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                784,
                1712
            ],
            "credentials": {
                "postgres": {
                    "id": "AUTOPOSTGRESCRED01",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "WITH inserted AS (\n  INSERT INTO seleccionadores \n  (nombre, primer_apellido, segundo_apellido, telefono, email, tipo, activo, id_empresa, fecha_ini, salario, fee, created_at, updated_at) \n  VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, NOW(), NOW()) \n  RETURNING *\n)\nSELECT i.*, (CASE WHEN e.id IS NOT NULL THEN json_build_object(\u0027id\u0027, e.id, \u0027nombre\u0027, e.nombre_empresa) ELSE NULL END) as empresa \nFROM inserted i LEFT JOIN empresa e ON i.id_empresa = e.id;",
                "options": {
                    "queryReplacement": "={{ [\n  $json.body.seleccionadorData.nombre || null,\n  $json.body.seleccionadorData.primer_apellido || null,\n  $json.body.seleccionadorData.segundo_apellido || null,\n  $json.body.seleccionadorData.telefono || null,\n  $json.body.seleccionadorData.email || null,\n  ($json.body.seleccionadorData.tipo || \u0027interno\u0027).toLowerCase().trim(),\n  $json.body.seleccionadorData.activo !== undefined ? $json.body.seleccionadorData.activo : true,\n  $json.body.seleccionadorData.id_empresa || null,\n  $json.body.seleccionadorData.fecha_ini || null,\n  $json.body.seleccionadorData.salario || null,\n  $json.body.seleccionadorData.fee || null\n] }}"
                }
            },
            "id": "6aec314e-14c6-4aab-8df5-552f22eef9fb",
            "name": "SQL: Create",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                784,
                1904
            ],
            "credentials": {
                "postgres": {
                    "id": "AUTOPOSTGRESCRED01",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "WITH updated AS (\n  UPDATE seleccionadores \n  SET nombre = COALESCE($1, nombre), primer_apellido = COALESCE($2, primer_apellido), segundo_apellido = $3, telefono = $4, email = COALESCE($5, email), tipo = COALESCE($6, tipo), activo = COALESCE($7, activo), id_empresa = $8, fecha_ini = $9, salario = $10, fee = $11, updated_at = NOW() \n  WHERE id = $12 \n  RETURNING *\n)\nSELECT u.*, (CASE WHEN e.id IS NOT NULL THEN json_build_object(\u0027id\u0027, e.id, \u0027nombre\u0027, e.nombre_empresa) ELSE NULL END) as empresa \nFROM updated u LEFT JOIN empresa e ON u.id_empresa = e.id;",
                "options": {
                    "queryReplacement": "={{ [\n  $json.body.seleccionadorData.nombre || null,\n  $json.body.seleccionadorData.primer_apellido || null,\n  $json.body.seleccionadorData.segundo_apellido || null,\n  $json.body.seleccionadorData.telefono || null,\n  $json.body.seleccionadorData.email || null,\n  $json.body.seleccionadorData.tipo ? $json.body.seleccionadorData.tipo.toLowerCase().trim() : null,\n  $json.body.seleccionadorData.activo !== undefined ? $json.body.seleccionadorData.activo : null,\n  $json.body.seleccionadorData.id_empresa || null,\n  $json.body.seleccionadorData.fecha_ini || null,\n  $json.body.seleccionadorData.salario || null,\n  $json.body.seleccionadorData.fee || null,\n  $json.body.seleccionadorId\n] }}"
                }
            },
            "id": "b8b4bbb9-67af-46a6-aba4-fd7bed0bda67",
            "name": "SQL: Update",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                784,
                2112
            ],
            "credentials": {
                "postgres": {
                    "id": "AUTOPOSTGRESCRED01",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "WITH updated AS (\n  UPDATE seleccionadores SET activo = NOT activo, updated_at = NOW() WHERE id = $1 RETURNING *\n)\nSELECT u.*, (CASE WHEN e.id IS NOT NULL THEN json_build_object(\u0027id\u0027, e.id, \u0027nombre\u0027, e.nombre_empresa) ELSE NULL END) as empresa \nFROM updated u LEFT JOIN empresa e ON u.id_empresa = e.id;",
                "options": {
                    "queryReplacement": "={{ [$json.body.seleccionadorId] }}"
                }
            },
            "id": "d5af0c4a-53a4-4d6d-90f7-298ef397d472",
            "name": "SQL: Toggle Status",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                784,
                2304
            ],
            "credentials": {
                "postgres": {
                    "id": "AUTOPOSTGRESCRED01",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"data\": $input.all().map(item =\u003e item.json) } }}",
                "options": {}
            },
            "id": "8b989309-7760-4ad0-aaf3-9ecf347beeae",
            "name": "Respond API",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1392,
                1904
            ]
        }
    ],
    "connections": {
        "Webhook Seleccionadores": {
            "main": [
                [
                    {
                        "node": "Switch Actions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Actions": {
            "main": [
                [
                    {
                        "node": "JS: Build Get Query",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "SQL: Get Empresas",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "SQL: Create",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "SQL: Update",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "SQL: Toggle Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "JS: Build Get Query": {
            "main": [
                [
                    {
                        "node": "SQL: Get Seleccionadores",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SQL: Get Seleccionadores": {
            "main": [
                [
                    {
                        "node": "Respond API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SQL: Get Empresas": {
            "main": [
                [
                    {
                        "node": "Respond API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SQL: Create": {
            "main": [
                [
                    {
                        "node": "Respond API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SQL: Update": {
            "main": [
                [
                    {
                        "node": "Respond API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SQL: Toggle Status": {
            "main": [
                [
                    {
                        "node": "Respond API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "759b8633-b7ea-4869-9923-b9a2b11d78bf",
    "activeVersionId": "759b8633-b7ea-4869-9923-b9a2b11d78bf",
    "versionCounter": 336,
    "triggerCount": 1,
    "tags": [],
    "shared": [
        {
            "updatedAt": "2026-04-13T18:24:51.637Z",
            "createdAt": "2026-04-13T18:24:51.637Z",
            "role": "workflow:owner",
            "workflowId": "qjLNVz9LC37hy4pe",
            "projectId": "k3dNKL20UKoBHhO1",
            "project": {
                "updatedAt": "2026-04-13T18:18:29.733Z",
                "createdAt": "2026-04-13T18:16:42.420Z",
                "id": "k3dNKL20UKoBHhO1",
                "name": "Jose Gregorio Marin josegregoriomarin22@gmail.com \u003cjosegregoriomarin22@gmail.com\u003e",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "c262c472-e055-4fca-8502-db3c6e37c03f"
            }
        }
    ],
    "versionMetadata": {
        "name": "Version 759b8633",
        "description": ""
    }
}