EntornoDesarrollo/n8n/workflows/Trabajadores.json
{
  "updatedAt": "2026-07-14T14:25:56.859Z",
  "createdAt": "2026-07-14T14:24:58.458Z",
  "id": "DSsD3pbSvH3CZRCJ",
  "name": "Trabajadores",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\n\nconst JWT_SECRET = 'passEncriptada';\n\nconst body = $json.body;\nconst headers = $json.headers || {};\nconst authHeader = headers['authorization'] || headers['Authorization'] || '';\nconst bodyToken  = body?.token || '';\nconst rawToken   = authHeader || bodyToken;\n\nconst token = rawToken.replace('Bearer ', '').trim();\n\nif (!token) {\n  return [{ json: { _authError: true, status: 401, message: 'Token no proporcionado' } }];\n}\n\ntry {\n  const decoded = jwt.verify(token, JWT_SECRET);\n  return [{\n    json: {\n      ...$json,\n      _auth: { id: decoded.id, email: decoded.email, role: decoded.role }\n    }\n  }];\n} catch (err) {\n  return [{ json: { _authError: true, status: 401, message: 'Token inválido o expirado - ' + err.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1824,
        1328
      ],
      "id": "9e4822dc-56b6-4ee6-945b-df86673ad0c0",
      "name": "JWT Verify"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.message }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1456,
        1040
      ],
      "id": "8c55db63-cff0-4e59-81b4-fd5f4ca4c01c",
      "name": "Respond "
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-check-001",
              "leftValue": "={{ $json._authError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1616,
        1328
      ],
      "id": "2e104704-55cd-4eda-9a1a-eb80a66e3fd5",
      "name": "Auth Error?1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $input.first().json.error || \"Acción no válida\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "92fecbca-b29c-452c-86bf-e2ac192e21aa",
      "name": "Respond Error1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -128,
        2304
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, error: `Acción no válida: '${$input.item.json.body?.action || 'undefined'}'` } }];"
      },
      "id": "07aa30aa-659b-4fa8-a7c1-7972d1037d51",
      "name": "Invalid Action Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        2064
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  f.id, f.curso, f.denominacion, f.motivo,\n  ef.nombre AS estado, af.nombre AS area, mf.nombre AS modalidad,\n  CONCAT(u.name, ' ', COALESCE(u.surname, '')) AS responsable,\n  f.duracion, f.horario, f.dentro_fuera_jornada,\n  f.fecha_inicio, f.fecha_fin, f.anio,\n  f.observaciones, f.activo,\n  ft.asistencia, ft.eficacia\nFROM formacion_trabajador ft\nJOIN formacion f ON f.id = ft.id_formacion\nLEFT JOIN estado_formacion ef ON ef.id = f.id_estado\nLEFT JOIN area_formacion af ON af.id = f.id_area\nLEFT JOIN modalidad_formacion mf ON mf.id = f.id_modalidad\nLEFT JOIN \"user\" u ON u.id = f.id_responsable\nWHERE ft.id_trabajador = $1\nORDER BY f.fecha_inicio DESC;",
        "options": {
          "queryReplacement": "={{ [$json.body.trabajadorId] }}"
        }
      },
      "id": "784548db-61c0-4235-8530-39c09726f6e4",
      "name": "SQL: Get Formaciones By Trabajador1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        1776
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.id, a.fecha_ini, a.fecha_fin, a.tarifa,\n  e.nombre_empresa AS empresa_nombre,\n  CONCAT(c.nombre, ' ', c.primer_apellido) AS comercial_nombre,\n  a.activo\nFROM asignacion a\nJOIN empresa e ON e.id = a.id_empresa\nLEFT JOIN comerciales c ON c.id = a.id_comerciales\nWHERE a.id_trabajador = $1\nORDER BY a.fecha_ini DESC;",
        "options": {
          "queryReplacement": "={{ [$json.body.trabajadorId] }}"
        }
      },
      "id": "caae0350-72e5-49bd-90c9-f7239c3724ca",
      "name": "SQL: Get Asignaciones By Trabajador1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        1584
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, CONCAT(nombre, ' ', primer_apellido) AS nombre, tipo FROM seleccionadores WHERE activo = true ORDER BY nombre ASC;",
        "options": {}
      },
      "id": "f943f506-ddae-453c-8cb9-2504127550b0",
      "name": "SQL: Get Seleccionadores Lookup1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        1392
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, id_provincia, localidad AS nombre FROM localidad ORDER BY localidad ASC;",
        "options": {}
      },
      "id": "2e66f59b-4891-42a5-9466-6efb0b2f317c",
      "name": "SQL: Get Localidades1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, id_pais, provincia AS nombre FROM provincia ORDER BY provincia ASC;",
        "options": {}
      },
      "id": "e314bbc9-6e92-4046-beb4-e489b4a3ca0a",
      "name": "SQL: Get Provincias1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        1072
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upd AS (UPDATE trabajador SET activo = NOT activo, updated_at = NOW() WHERE id = $1 RETURNING *) SELECT u.*, p.provincia AS provincia_nombre, l.localidad AS localidad_nombre, pa.pais AS pais_nombre, CONCAT(s.nombre,' ',s.primer_apellido) AS seleccionador_nombre FROM upd u LEFT JOIN provincia p ON u.id_provincia=p.id LEFT JOIN localidad l ON u.id_localidad=l.id LEFT JOIN pais pa ON u.id_pais=pa.id LEFT JOIN seleccionadores s ON u.id_seleccionadores=s.id;",
        "options": {
          "queryReplacement": "={{ [$json.body.trabajadorId] }}"
        }
      },
      "id": "afab59e3-eb2b-4339-8aca-ee8309e31665",
      "name": "SQL: Toggle Status1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        864
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upd AS (UPDATE trabajador SET nombre=COALESCE($1,nombre), primer_apellido=COALESCE($2,primer_apellido), segundo_apellido=$3, telefono=$4, email=$5, dni_nif_pasaporte=$6, salario=$7, cheques_guarderia=$8, cheques_restaurante=$9, direccion=$10, nacionalidad=$11, fecha_nacimiento=$12, id_seleccionadores=$13, activo=COALESCE($14,activo), fecha_ini=$15, fecha_fin=$16, codigo_postal=$17, id_localidad=$18, freelance=COALESCE($19,freelance), id_provincia=$20, id_pais=$22, updated_at=NOW() WHERE id=$21 RETURNING *) SELECT u.*, p.provincia AS provincia_nombre, l.localidad AS localidad_nombre, pa.pais AS pais_nombre, CONCAT(s.nombre,' ',s.primer_apellido) AS seleccionador_nombre FROM upd u LEFT JOIN provincia p ON u.id_provincia=p.id LEFT JOIN localidad l ON u.id_localidad=l.id LEFT JOIN pais pa ON u.id_pais=pa.id LEFT JOIN seleccionadores s ON u.id_seleccionadores=s.id;",
        "options": {
          "queryReplacement": "={{ [$json.body.trabajadorData.nombre||null, $json.body.trabajadorData.primer_apellido||null, $json.body.trabajadorData.segundo_apellido||null, $json.body.trabajadorData.telefono||null, $json.body.trabajadorData.email||null, $json.body.trabajadorData.dni_nif_pasaporte||null, $json.body.trabajadorData.salario||null, $json.body.trabajadorData.cheques_guarderia||null, $json.body.trabajadorData.cheques_restaurante||null, $json.body.trabajadorData.direccion||null, $json.body.trabajadorData.nacionalidad||null, $json.body.trabajadorData.fecha_nacimiento||null, $json.body.trabajadorData.id_seleccionadores||null, $json.body.trabajadorData.activo!==undefined?$json.body.trabajadorData.activo:null, $json.body.trabajadorData.fecha_ini||null, $json.body.trabajadorData.fecha_fin||null, $json.body.trabajadorData.codigo_postal||null, $json.body.trabajadorData.id_localidad||null, $json.body.trabajadorData.freelance!==undefined?$json.body.trabajadorData.freelance:null, $json.body.trabajadorData.id_provincia||null, $json.body.trabajadorId, $json.body.trabajadorData.id_pais||null] }}"
        }
      },
      "id": "f868f959-a9da-4651-ae7b-fa28a9fff6b3",
      "name": "SQL: Update1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        736
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DvQWxW1CqpAx1na8",
          "mode": "list",
          "cachedResultUrl": "/workflow/DvQWxW1CqpAx1na8",
          "cachedResultName": "Documentos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        784
      ],
      "id": "97ba91af-51f6-44df-8501-a72096ef2d0c",
      "name": "Call 'Motor Documentos Trabajadores'1"
    },
    {
      "parameters": {
        "jsCode": "const worker = $input.item.json;\nconst body = $('Webhook Trabajadores1').first().json.body;\nconst docs = body.documentos || [];\nlet results = [];\nfor (let d of docs) {\n  results.push({\n    json: {\n      body: {\n        action: 'uploadDocumento',\n        trabajadorId: worker.id,\n        origen: d.origen,\n        tipoId: d.tipoId,\n        nombre: d.nombre,\n        descripcion: d.descripcion,\n        base64: d.base64,\n        requiere_firma: d.requiere_firma,\n        trabajadorData: worker\n      }\n    }\n  });\n}\nreturn results;"
      },
      "id": "c2de7bbd-452b-4198-9b42-4cd1c66b23e8",
      "name": "JS: Preparar Documentos1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        352
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"data\": $input.all().map(item => item.json).filter(j => j && Object.keys(j).length > 0) } }}",
        "options": {}
      },
      "id": "157f27fa-2c18-4a4e-ad45-a9972fd858d4",
      "name": "Respond API1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2144,
        928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ ($('Webhook Trabajadores1').first().json.body.documentos || []).length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a214f5bd-aaed-48ad-ab57-e5b18f48fd5f",
      "name": "IF: Trae Documentos?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        112,
        528
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (INSERT INTO trabajador (nombre,primer_apellido,segundo_apellido,telefono,email,dni_nif_pasaporte,salario,cheques_guarderia,cheques_restaurante,direccion,nacionalidad,fecha_nacimiento,id_seleccionadores,activo,fecha_ini,fecha_fin,codigo_postal,id_localidad,freelance,id_provincia,id_pais) VALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,$13,$14,$15,$16,$17,$18,$19,$20,$21) RETURNING *) SELECT i.*, p.provincia AS provincia_nombre, l.localidad AS localidad_nombre, pa.pais AS pais_nombre, CONCAT(s.nombre,' ',s.primer_apellido) AS seleccionador_nombre FROM ins i LEFT JOIN provincia p ON i.id_provincia=p.id LEFT JOIN localidad l ON i.id_localidad=l.id LEFT JOIN pais pa ON i.id_pais=pa.id LEFT JOIN seleccionadores s ON i.id_seleccionadores=s.id;",
        "options": {
          "queryReplacement": "={{ [$json.body.trabajadorData.nombre||null, $json.body.trabajadorData.primer_apellido||null, $json.body.trabajadorData.segundo_apellido||null, $json.body.trabajadorData.telefono||null, $json.body.trabajadorData.email||null, $json.body.trabajadorData.dni_nif_pasaporte||null, $json.body.trabajadorData.salario||null, $json.body.trabajadorData.cheques_guarderia||null, $json.body.trabajadorData.cheques_restaurante||null, $json.body.trabajadorData.direccion||null, $json.body.trabajadorData.nacionalidad||null, $json.body.trabajadorData.fecha_nacimiento||null, $json.body.trabajadorData.id_seleccionadores||null, $json.body.trabajadorData.activo!==undefined?$json.body.trabajadorData.activo:true, $json.body.trabajadorData.fecha_ini||null, $json.body.trabajadorData.fecha_fin||null, $json.body.trabajadorData.codigo_postal||null, $json.body.trabajadorData.id_localidad||null, $json.body.trabajadorData.freelance!==undefined?$json.body.trabajadorData.freelance:false, $json.body.trabajadorData.id_provincia||null, $json.body.trabajadorData.id_pais||null] }}"
        }
      },
      "id": "6e5d0167-546a-4499-bf8e-47f4909aa4c7",
      "name": "SQL: Create1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "957756f8-4ae6-4b75-8cbd-f5a5ac99fab4",
      "name": "SQL: Get Trabajadores1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst filters = body.filters || {};\nconst page = body.page || 1;\nconst limit = body.limit || 10;\nconst offset = (page - 1) * limit;\nconst conditions = [];\nconst params = [];\nif (filters.searchText && typeof filters.searchText === 'string' && filters.searchText.trim() !== '') {\n  conditions.push(`(CONCAT(t.nombre, ' ', t.primer_apellido, ' ', COALESCE(t.segundo_apellido,'')) ILIKE $${params.length + 1} OR t.email ILIKE $${params.length + 1} OR t.dni_nif_pasaporte ILIKE $${params.length + 1})`);\n  params.push(`%${filters.searchText.trim()}%`);\n}\nif (filters.status !== undefined && filters.status !== null && filters.status !== '') {\n  const s = String(filters.status).toLowerCase();\n  if (s !== 'todos' && s !== '') { conditions.push(`t.activo = $${params.length + 1}`); params.push(s === 'activo' || s === 'activos'); }\n}\nif (filters.tipo !== undefined && filters.tipo !== null && filters.tipo !== '') {\n  const tp = String(filters.tipo).toLowerCase();\n  if (tp === 'freelance') { conditions.push(`t.freelance = $${params.length + 1}`); params.push(true); }\n  else if (tp === 'plantilla') { conditions.push(`t.freelance = $${params.length + 1}`); params.push(false); }\n}\nlet whereClause = 'WHERE 1=1';\nif (conditions.length > 0) whereClause += ' AND ' + conditions.join(' AND ');\nconst lp = params.length + 1;\nconst op = params.length + 2;\nparams.push(limit);\nparams.push(offset);\nconst query = `WITH global_stats AS (SELECT COUNT(*)::int as total, COUNT(*) FILTER (WHERE activo=true)::int as activos, COUNT(*) FILTER (WHERE activo=false)::int as inactivos, COUNT(*) FILTER (WHERE freelance=true)::int as freelances FROM trabajador), filtered_data AS (SELECT t.*, p.provincia AS provincia_nombre, l.localidad AS localidad_nombre, pa.pais AS pais_nombre, CONCAT(s.nombre,' ',s.primer_apellido) AS seleccionador_nombre FROM trabajador t LEFT JOIN provincia p ON t.id_provincia=p.id LEFT JOIN localidad l ON t.id_localidad=l.id LEFT JOIN pais pa ON t.id_pais=pa.id LEFT JOIN seleccionadores s ON t.id_seleccionadores=s.id ${whereClause} ORDER BY t.id DESC LIMIT $${lp} OFFSET $${op}), filtered_count AS (SELECT COUNT(*)::int as total_filtered FROM trabajador t ${whereClause}) SELECT fd.*, fc.total_filtered, gs.total as stats_total, gs.activos as stats_activos, gs.inactivos as stats_inactivos, gs.freelances as stats_freelances FROM global_stats gs CROSS JOIN filtered_count fc LEFT JOIN filtered_data fd ON true`;\nreturn [{ json: { query, params } }];"
      },
      "id": "6ee7378c-e14a-4728-84cd-252567d6bcbd",
      "name": "JS: Build Get Query1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        64
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getTrabajadores",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getTrabajadores"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createTrabajador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "createTrabajador"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getTiposDoc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getTiposDoc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getDocumentosByTrabajador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getDocumentosByTrabajador"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "deleteDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deleteDocumento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "updateDocumento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "uploadDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "uploadDocumento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateTrabajador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "updateTrabajador"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "toggleTrabajadorStatus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "toggleTrabajadorStatus"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getProvincias",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r10"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getProvincias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getLocalidades",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_doc_0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getLocalidades"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getSeleccionadoresLookup",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_doc_1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getSeleccionadoresLookup"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getAsignacionesByTrabajador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_doc_2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getAsignacionesByTrabajador"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getFormacionesByTrabajador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_doc_3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getFormacionesByTrabajador"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_doc_4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "createDocumento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getDocumentoArchivo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_doc_6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getDocumentoArchivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "enviarFirma",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_firma_0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "enviarFirma"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "cancelarFirma",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_firma_1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelarFirma"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "sincronizarFirma",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_firma_2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sincronizarFirma"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "070dd71c-23b0-4a37-b22a-ffce11ba35b5",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getPaises",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getPaises"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "753f5f29-7068-4c08-8925-b562572c6064",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "resolverPais",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "resolverPais"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "74f36f71-0813-4cf5-b77a-701329f1c771",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "resolverProvincia",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "resolverProvincia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dfda9956-ca50-4e21-a653-4b924703221b",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "resolverLocalidad",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "resolverLocalidad"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "275b1c57-a328-425f-a603-7bf1bde4db34",
      "name": "Switch Actions1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -656,
        1088
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gestion-trabajadores",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "3c5d9b25-9c70-4144-89a3-ec6e47f5fc11",
      "name": "Webhook Trabajadores1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2080,
        1312
      ],
      "webhookId": "b884095a-9de5-4c1b-9869-56be69f43c01"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "u2Li9GeFqg3wZNcY",
          "mode": "list",
          "cachedResultUrl": "/workflow/u2Li9GeFqg3wZNcY",
          "cachedResultName": "firmas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        1008
      ],
      "id": "41b9256e-49d1-42b2-8193-1107a785f622",
      "name": "Call 'firmas'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, pais AS nombre FROM pais ORDER BY pais ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        1984
      ],
      "id": "c6eb7187-5e7f-4387-b2d2-2726004b5559",
      "name": "SQL: Get Paises1",
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inp AS (SELECT regexp_replace(btrim($1), '[[:space:]]+', ' ', 'g') AS nombre),\nexistente AS (SELECT p.id FROM pais p, inp WHERE translate(lower(p.pais), 'áàäéèëíìïóòöúùüñ','aaaeeeiiiooouuun') = translate(lower(inp.nombre), 'áàäéèëíìïóòöúùüñ','aaaeeeiiiooouuun') LIMIT 1),\nnuevo AS (INSERT INTO pais (pais) SELECT nombre FROM inp WHERE NOT EXISTS (SELECT 1 FROM existente) RETURNING id)\nSELECT id FROM existente UNION ALL SELECT id FROM nuevo LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.body.nombre] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        2160
      ],
      "id": "3d5550d5-2fa3-4f4d-a4a2-64ea1b421674",
      "name": "SQL: Resolver Pais",
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inp AS (SELECT $1::int AS id_pais, regexp_replace(btrim($2), '[[:space:]]+', ' ', 'g') AS nombre),\nexistente AS (SELECT p.id FROM provincia p, inp WHERE p.id_pais IS NOT DISTINCT FROM inp.id_pais AND translate(lower(p.provincia), 'áàäéèëíìïóòöúùüñ','aaaeeeiiiooouuun') = translate(lower(inp.nombre), 'áàäéèëíìïóòöúùüñ','aaaeeeiiiooouuun') LIMIT 1),\nnuevo AS (INSERT INTO provincia (id_pais, provincia) SELECT id_pais, nombre FROM inp WHERE NOT EXISTS (SELECT 1 FROM existente) RETURNING id)\nSELECT id FROM existente UNION ALL SELECT id FROM nuevo LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.body.id_pais || null, $json.body.nombre] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        2336
      ],
      "id": "19dd6e77-4515-4225-8d21-711394b5cf5a",
      "name": "SQL: Resolver Provincia",
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inp AS (SELECT $1::int AS id_provincia, regexp_replace(btrim($2), '[[:space:]]+', ' ', 'g') AS nombre),\nexistente AS (SELECT l.id FROM localidad l, inp WHERE l.id_provincia = inp.id_provincia AND translate(lower(l.localidad), 'áàäéèëíìïóòöúùüñ','aaaeeeiiiooouuun') = translate(lower(inp.nombre), 'áàäéèëíìïóòöúùüñ','aaaeeeiiiooouuun') LIMIT 1),\nnuevo AS (INSERT INTO localidad (id_provincia, localidad) SELECT id_provincia, nombre FROM inp WHERE NOT EXISTS (SELECT 1 FROM existente) RETURNING id)\nSELECT id FROM existente UNION ALL SELECT id FROM nuevo LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.body.id_provincia, $json.body.nombre] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        2544
      ],
      "id": "62de0fde-a47e-475e-8abc-edb750e4b6bb",
      "name": "SQL: Resolver Localidad",
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "JWT Verify": {
      "main": [
        [
          {
            "node": "Auth Error?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Error?1": {
      "main": [
        [
          {
            "node": "Respond ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Actions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Action Response1": {
      "main": [
        [
          {
            "node": "Respond Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Formaciones By Trabajador1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Asignaciones By Trabajador1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Seleccionadores Lookup1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Localidades1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Provincias1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Toggle Status1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Update1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Motor Documentos Trabajadores'1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS: Preparar Documentos1": {
      "main": [
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Trae Documentos?1": {
      "main": [
        [
          {
            "node": "JS: Preparar Documentos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Create1": {
      "main": [
        [
          {
            "node": "IF: Trae Documentos?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Trabajadores1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS: Build Get Query1": {
      "main": [
        [
          {
            "node": "SQL: Get Trabajadores1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Actions1": {
      "main": [
        [
          {
            "node": "JS: Build Get Query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Create1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Update1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Toggle Status1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Provincias1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Localidades1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Seleccionadores Lookup1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Asignaciones By Trabajador1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Formaciones By Trabajador1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'firmas'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'firmas'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'firmas'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Paises1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Resolver Pais",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Resolver Provincia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Resolver Localidad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trabajadores1": {
      "main": [
        [
          {
            "node": "JWT Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'firmas'": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Paises1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Resolver Pais": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Resolver Provincia": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Resolver Localidad": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "2b3e3b7d-a5d5-4500-994b-83b07564bea5",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-14T14:24:58.458Z",
      "createdAt": "2026-07-14T14:24:58.458Z",
      "role": "workflow:owner",
      "workflowId": "DSsD3pbSvH3CZRCJ",
      "projectId": "1jsMnEE0b9kf1UbY",
      "project": {
        "updatedAt": "2026-06-09T15:17:52.663Z",
        "createdAt": "2026-06-09T15:08:07.727Z",
        "id": "1jsMnEE0b9kf1UbY",
        "name": "Tomás Vázquez Blanco <tomas.vazquez@sgtech.tech>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "2b7f1a40-07c5-4722-9fa9-880fa5bfcdfd"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
