EntornoDesarrollo/n8n/workflows/Trabajadores.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gestion-trabajadores",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "af1cdb11-a5d2-4e6c-8769-bc3eef7355cb",
      "name": "Webhook Trabajadores1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2032,
        688
      ],
      "webhookId": "b884095a-9de5-4c1b-9869-56be69f43c01"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getTrabajadores",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getTrabajadores"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createTrabajador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "createTrabajador"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getTiposDoc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getTiposDoc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getDocumentosByTrabajador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getDocumentosByTrabajador"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "deleteDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deleteDocumento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "updateDocumento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "uploadDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "uploadDocumento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateTrabajador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "updateTrabajador"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "toggleTrabajadorStatus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "toggleTrabajadorStatus"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getProvincias",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r10"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getProvincias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getLocalidades",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_doc_0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getLocalidades"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getSeleccionadoresLookup",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_doc_1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getSeleccionadoresLookup"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getAsignacionesByTrabajador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_doc_2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getAsignacionesByTrabajador"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getFormacionesByTrabajador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "r_doc_3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getFormacionesByTrabajador"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "2e328025-1c3d-422d-a478-3c4797018612",
      "name": "Switch Actions1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1200,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst filters = body.filters || {};\nconst page = body.page || 1;\nconst limit = body.limit || 10;\nconst offset = (page - 1) * limit;\nconst conditions = [];\nconst params = [];\nif (filters.searchText && typeof filters.searchText === 'string' && filters.searchText.trim() !== '') {\n  conditions.push(`(CONCAT(t.nombre, ' ', t.primer_apellido, ' ', COALESCE(t.segundo_apellido,'')) ILIKE $${params.length + 1} OR t.email ILIKE $${params.length + 1} OR t.dni_nif_pasaporte ILIKE $${params.length + 1})`);\n  params.push(`%${filters.searchText.trim()}%`);\n}\nif (filters.status !== undefined && filters.status !== null && filters.status !== '') {\n  const s = String(filters.status).toLowerCase();\n  if (s !== 'todos' && s !== '') { conditions.push(`t.activo = $${params.length + 1}`); params.push(s === 'activo' || s === 'activos'); }\n}\nif (filters.tipo !== undefined && filters.tipo !== null && filters.tipo !== '') {\n  const tp = String(filters.tipo).toLowerCase();\n  if (tp === 'freelance') { conditions.push(`t.freelance = $${params.length + 1}`); params.push(true); }\n  else if (tp === 'plantilla') { conditions.push(`t.freelance = $${params.length + 1}`); params.push(false); }\n}\nlet whereClause = 'WHERE 1=1';\nif (conditions.length > 0) whereClause += ' AND ' + conditions.join(' AND ');\nconst lp = params.length + 1;\nconst op = params.length + 2;\nparams.push(limit);\nparams.push(offset);\nconst query = `WITH global_stats AS (SELECT COUNT(*)::int as total, COUNT(*) FILTER (WHERE activo=true)::int as activos, COUNT(*) FILTER (WHERE activo=false)::int as inactivos, COUNT(*) FILTER (WHERE freelance=true)::int as freelances FROM trabajador), filtered_data AS (SELECT t.*, p.provincia AS provincia_nombre, l.localidad AS localidad_nombre, CONCAT(s.nombre,' ',s.primer_apellido) AS seleccionador_nombre FROM trabajador t LEFT JOIN provincia p ON t.id_provincia=p.id LEFT JOIN localidad l ON t.id_localidad=l.id LEFT JOIN seleccionadores s ON t.id_seleccionadores=s.id ${whereClause} ORDER BY t.id DESC LIMIT $${lp} OFFSET $${op}), filtered_count AS (SELECT COUNT(*)::int as total_filtered FROM trabajador t ${whereClause}) SELECT fd.*, fc.total_filtered, gs.total as stats_total, gs.activos as stats_activos, gs.inactivos as stats_inactivos, gs.freelances as stats_freelances FROM global_stats gs CROSS JOIN filtered_count fc LEFT JOIN filtered_data fd ON true`;\nreturn [{ json: { query, params } }];"
      },
      "id": "90092fd6-acce-4c9b-894a-48b275921247",
      "name": "JS: Build Get Query1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "1a5b0bb8-941f-449e-9cce-82cd069f9c1d",
      "name": "SQL: Get Trabajadores1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -512,
        -48
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (INSERT INTO trabajador (nombre,primer_apellido,segundo_apellido,telefono,email,dni_nif_pasaporte,salario,cheques_guarderia,cheques_restaurante,direccion,nacionalidad,fecha_nacimiento,id_seleccionadores,activo,fecha_ini,fecha_fin,codigo_postal,id_localidad,freelance,id_provincia) VALUES ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,$13,$14,$15,$16,$17,$18,$19,$20) RETURNING *) SELECT i.*, p.provincia AS provincia_nombre, l.localidad AS localidad_nombre, CONCAT(s.nombre,' ',s.primer_apellido) AS seleccionador_nombre FROM ins i LEFT JOIN provincia p ON i.id_provincia=p.id LEFT JOIN localidad l ON i.id_localidad=l.id LEFT JOIN seleccionadores s ON i.id_seleccionadores=s.id;",
        "options": {
          "queryReplacement": "={{ [$json.body.trabajadorData.nombre||null, $json.body.trabajadorData.primer_apellido||null, $json.body.trabajadorData.segundo_apellido||null, $json.body.trabajadorData.telefono||null, $json.body.trabajadorData.email||null, $json.body.trabajadorData.dni_nif_pasaporte||null, $json.body.trabajadorData.salario||null, $json.body.trabajadorData.cheques_guarderia||null, $json.body.trabajadorData.cheques_restaurante||null, $json.body.trabajadorData.direccion||null, $json.body.trabajadorData.nacionalidad||null, $json.body.trabajadorData.fecha_nacimiento||null, $json.body.trabajadorData.id_seleccionadores||null, $json.body.trabajadorData.activo!==undefined?$json.body.trabajadorData.activo:true, $json.body.trabajadorData.fecha_ini||null, $json.body.trabajadorData.fecha_fin||null, $json.body.trabajadorData.codigo_postal||null, $json.body.trabajadorData.id_localidad||null, $json.body.trabajadorData.freelance!==undefined?$json.body.trabajadorData.freelance:false, $json.body.trabajadorData.id_provincia||null] }}"
        }
      },
      "id": "2ccccb45-9ae6-4582-9b2c-9a2c93fc0991",
      "name": "SQL: Create1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -624,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Webhook Trabajadores1').first().json.body.documentos ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "50b2b1c5-aa0f-4581-b450-2fe5b0643007",
      "name": "IF: Trae Documentos?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -400,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"data\": $input.all().map(item => item.json) } }}",
        "options": {}
      },
      "id": "5d61c082-35bc-4a02-bf9f-6a747a192a2f",
      "name": "Respond API1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1616,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "const worker = $input.item.json;\nconst body = $('Webhook Trabajadores1').first().json.body;\nconst docs = body.documentos || [];\nlet results = [];\nfor (let d of docs) {\n  results.push({\n    json: {\n      body: {\n        action: 'uploadDocumento',\n        trabajadorId: worker.id,\n        origen: d.origen,\n        tipoId: d.tipoId,\n        nombre: d.nombre,\n        descripcion: d.descripcion,\n        base64: d.base64,\n        trabajadorData: worker\n      }\n    }\n  });\n}\nreturn results;"
      },
      "id": "e8aafe37-f222-4599-ac30-70be1783cdbb",
      "name": "JS: Preparar Documentos1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, tipo FROM tipoDoc ORDER BY tipo ASC;",
        "options": {}
      },
      "id": "1312b40f-3449-4c88-b3ff-5e2a83287ebd",
      "name": "SQL: Get Tipos Doc1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        144
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "c08ktOiuDWynWXG1",
          "mode": "list",
          "cachedResultUrl": "/workflow/c08ktOiuDWynWXG1",
          "cachedResultName": "sub flujo- trabajador"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        640
      ],
      "id": "47c89b7d-1573-4f72-bdd6-ff5e0b340811",
      "name": "Call 'Motor Documentos Trabajadores'1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upd AS (UPDATE trabajador SET nombre=COALESCE($1,nombre), primer_apellido=COALESCE($2,primer_apellido), segundo_apellido=$3, telefono=$4, email=$5, dni_nif_pasaporte=$6, salario=$7, cheques_guarderia=$8, cheques_restaurante=$9, direccion=$10, nacionalidad=$11, fecha_nacimiento=$12, id_seleccionadores=$13, activo=COALESCE($14,activo), fecha_ini=$15, fecha_fin=$16, codigo_postal=$17, id_localidad=$18, freelance=COALESCE($19,freelance), id_provincia=$20, updated_at=NOW() WHERE id=$21 RETURNING *) SELECT u.*, p.provincia AS provincia_nombre, l.localidad AS localidad_nombre, CONCAT(s.nombre,' ',s.primer_apellido) AS seleccionador_nombre FROM upd u LEFT JOIN provincia p ON u.id_provincia=p.id LEFT JOIN localidad l ON u.id_localidad=l.id LEFT JOIN seleccionadores s ON u.id_seleccionadores=s.id;\n",
        "options": {
          "queryReplacement": "={{ [$json.body.trabajadorData.nombre||null, $json.body.trabajadorData.primer_apellido||null, $json.body.trabajadorData.segundo_apellido||null, $json.body.trabajadorData.telefono||null, $json.body.trabajadorData.email||null, $json.body.trabajadorData.dni_nif_pasaporte||null, $json.body.trabajadorData.salario||null, $json.body.trabajadorData.cheques_guarderia||null, $json.body.trabajadorData.cheques_restaurante||null, $json.body.trabajadorData.direccion||null, $json.body.trabajadorData.nacionalidad||null, $json.body.trabajadorData.fecha_nacimiento||null, $json.body.trabajadorData.id_seleccionadores||null, $json.body.trabajadorData.activo!==undefined?$json.body.trabajadorData.activo:null, $json.body.trabajadorData.fecha_ini||null, $json.body.trabajadorData.fecha_fin||null, $json.body.trabajadorData.codigo_postal||null, $json.body.trabajadorData.id_localidad||null, $json.body.trabajadorData.freelance!==undefined?$json.body.trabajadorData.freelance:null, $json.body.trabajadorData.id_provincia||null, $json.body.trabajadorId] }}"
        }
      },
      "id": "f75d7214-08a9-4f3e-840e-cc491975b92c",
      "name": "SQL: Update1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        784
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upd AS (UPDATE trabajador SET activo = NOT activo, updated_at = NOW() WHERE id = $1 RETURNING *) SELECT u.*, p.provincia AS provincia_nombre, l.localidad AS localidad_nombre, CONCAT(s.nombre,' ',s.primer_apellido) AS seleccionador_nombre FROM upd u LEFT JOIN provincia p ON u.id_provincia=p.id LEFT JOIN localidad l ON u.id_localidad=l.id LEFT JOIN seleccionadores s ON u.id_seleccionadores=s.id;\n",
        "options": {
          "queryReplacement": "={{ [$json.body.trabajadorId] }}"
        }
      },
      "id": "a6ab726d-8db5-4ae0-8849-0b2ab0b7c469",
      "name": "SQL: Toggle Status1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        928
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, provincia AS nombre FROM provincia ORDER BY provincia ASC;",
        "options": {}
      },
      "id": "c7efb73c-9f5e-4235-a5d0-fa8eabfc0051",
      "name": "SQL: Get Provincias1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -304,
        1120
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, id_provincia, localidad AS nombre FROM localidad ORDER BY localidad ASC;",
        "options": {}
      },
      "id": "406c2094-421b-4d20-8080-1beb320075a8",
      "name": "SQL: Get Localidades1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        1312
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, CONCAT(nombre, ' ', primer_apellido) AS nombre, tipo FROM seleccionadores WHERE activo = true ORDER BY nombre ASC;",
        "options": {}
      },
      "id": "95c4ca82-4483-423c-a8de-8ea693a47192",
      "name": "SQL: Get Seleccionadores Lookup1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        1488
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id, a.fecha_ini, a.fecha_fin, a.tarifa, e.nombre_empresa AS empresa_nombre, CONCAT(c.nombre,' ',c.primer_apellido) AS comercial_nombre, CASE WHEN a.fecha_fin IS NULL OR a.fecha_fin > NOW() THEN true ELSE false END AS activo FROM asignacion a JOIN empresa e ON e.id=a.id_empresa LEFT JOIN comerciales c ON c.id=a.id_comerciales WHERE a.id_trabajador=$1 ORDER BY a.fecha_ini DESC;",
        "options": {
          "queryReplacement": "={{ [$json.body.trabajadorId] }}"
        }
      },
      "id": "bc428107-9b43-49c8-b5ad-678e18eb8ce9",
      "name": "SQL: Get Asignaciones By Trabajador1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -496,
        1728
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT f.id, f.curso, ef.nombre AS estado, af.nombre AS area, mf.nombre AS modalidad, f.fecha_inicio, f.fecha_fin, ft.asistencia, ft.eficacia FROM formacion_trabajador ft JOIN formacion f ON f.id=ft.id_formacion LEFT JOIN estado_formacion ef ON ef.id=f.id_estado LEFT JOIN area_formacion af ON af.id=f.id_area LEFT JOIN modalidad_formacion mf ON mf.id=f.id_modalidad WHERE ft.id_trabajador=$1 ORDER BY f.fecha_inicio DESC;",
        "options": {
          "queryReplacement": "={{ [$json.body.trabajadorId] }}"
        }
      },
      "id": "5e39213e-b1ad-4abb-a41b-f32f398fb7eb",
      "name": "SQL: Get Formaciones By Trabajador1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -640,
        1936
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, error: `Acción no válida: '${$input.item.json.body?.action || 'undefined'}'` } }];"
      },
      "id": "ca95e0a6-272b-4373-987a-50fa9aafd785",
      "name": "Invalid Action Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        1952
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $input.first().json.error || \"Acción no válida\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "f2f3f876-c8b1-47a5-ae4f-46a989ccd68f",
      "name": "Respond Error1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -656,
        2192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-check-001",
              "leftValue": "={{ $json._authError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1568,
        704
      ],
      "id": "ca4f125d-7234-4b86-9afb-5cd450fa34ab",
      "name": "Auth Error?1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.message }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1408,
        416
      ],
      "id": "5fd31050-0b43-41a9-9d73-9e4a0c07a744",
      "name": "Respond "
    },
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\n\nconst JWT_SECRET = 'passEncriptada';\n\nconst body = $json.body;\nconst headers = $json.headers || {};\nconst authHeader = headers['authorization'] || headers['Authorization'] || '';\nconst bodyToken  = body?.token || '';\nconst rawToken   = authHeader || bodyToken;\n\nconst token = rawToken.replace('Bearer ', '').trim();\n\nif (!token) {\n  return [{ json: { _authError: true, status: 401, message: 'Token no proporcionado' } }];\n}\n\ntry {\n  const decoded = jwt.verify(token, JWT_SECRET);\n  return [{\n    json: {\n      ...$json,\n      _auth: { id: decoded.id, email: decoded.email, role: decoded.role }\n    }\n  }];\n} catch (err) {\n  return [{ json: { _authError: true, status: 401, message: 'Token inválido o expirado - ' + err.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        704
      ],
      "id": "6fc2f615-6c60-4a43-a746-a70f8db0e50a",
      "name": "JWT Verify"
    }
  ],
  "connections": {
    "Webhook Trabajadores1": {
      "main": [
        [
          {
            "node": "JWT Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Actions1": {
      "main": [
        [
          {
            "node": "JS: Build Get Query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Create1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Tipos Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Update1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Toggle Status1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Provincias1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Localidades1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Seleccionadores Lookup1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Asignaciones By Trabajador1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Formaciones By Trabajador1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS: Build Get Query1": {
      "main": [
        [
          {
            "node": "SQL: Get Trabajadores1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Trabajadores1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Create1": {
      "main": [
        [
          {
            "node": "IF: Trae Documentos?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Trae Documentos?1": {
      "main": [
        [
          {
            "node": "JS: Preparar Documentos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS: Preparar Documentos1": {
      "main": [
        [
          {
            "node": "Call 'Motor Documentos Trabajadores'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Tipos Doc1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Motor Documentos Trabajadores'1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Update1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Toggle Status1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Provincias1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Localidades1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Seleccionadores Lookup1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Asignaciones By Trabajador1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Formaciones By Trabajador1": {
      "main": [
        [
          {
            "node": "Respond API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Action Response1": {
      "main": [
        [
          {
            "node": "Respond Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Error?1": {
      "main": [
        [
          {
            "node": "Respond ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Actions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Verify": {
      "main": [
        [
          {
            "node": "Auth Error?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94bc228e902207efbd44f4d6dbc4148b9ebb4baca0f02c4dc60eb60cc029d59e"
  }
}