EntornoDesarrollo/n8n/workflows/Trabajadores_Firmas_Webhook.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-sinatura",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "c1a00000-0000-4000-8000-000000000001",
      "name": "Webhook Sinatura",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -600,
        300
      ],
      "webhookId": "f3b1c2d4-5e6f-47a8-9b0c-1d2e3f4a5b6c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Sinatura webhook_auth (CREA Y SELECCIONA)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sinatura hace POST a esta URL tras cada firma (modelo push). Aún no está documentado\n// el shape exacto del body, así que extraemos el identificador del trabajo de firma — el\n// mismo valor que guardamos en firma.sinatura_id (newSignatureJob de la respuesta create) —\n// probando las claves más probables. Tras el primer Ping/evento real, mira el output de\n// este nodo (_raw) y deja SOLO la clave correcta para que quede explícito.\nconst b = $json.body || {};\nconst q = $json.query || {};\nconst sid =\n  b.signatureJob ?? b.newSignatureJob ?? b.signatureJobId ?? b.signature_job ??\n  b.jobId ?? b.job ?? b.id ?? q.signatureJob ?? q.id ?? null;\nreturn [{ json: { sinatura_id: sid != null ? String(sid) : null, _raw: b } }];"
      },
      "id": "c1a00000-0000-4000-8000-000000000002",
      "name": "Code: Extraer sinatura_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Mapea la notificación de Sinatura a NUESTRO documento por el id del trabajo de firma.\n-- Si no hay coincidencia (p. ej. el Ping de prueba), devuelve 0 filas y el flujo no hace nada.\nSELECT id_documento FROM firma WHERE sinatura_id = $1;",
        "options": {
          "queryReplacement": "={{ [ $json.sinatura_id ] }}"
        }
      },
      "id": "c1a00000-0000-4000-8000-000000000003",
      "name": "SQL: Buscar firma por sinatura_id",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "alwaysOutputData": true,
      "position": [
        -120,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Si encontramos la firma, delegamos en la acción sincronizarFirma del Motor Firmas\n// (que ya consulta el estado en Sinatura, descarga el PDF firmado y actualiza la BD).\n// Reutilizamos esa lógica en vez de duplicarla: una sola fuente de verdad para el mapeo\n// de estados. Si no hay coincidencia (Ping de prueba o sinatura_id desconocido), no hacemos\n// nada (return []), pero el webhook ya respondió 200 a Sinatura por el responseMode.\nconst r = $json || {};\nif (r.id_documento == null || r.id_documento === '') {\n  return [];\n}\nreturn [{ json: { body: { action: 'sincronizarFirma', firmaData: { doc_id: r.id_documento } } } }];"
      },
      "id": "c1a00000-0000-4000-8000-000000000004",
      "name": "Code: Preparar sincronizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Motor Firmas (selecciona al importar)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        360,
        300
      ],
      "id": "c1a00000-0000-4000-8000-000000000005",
      "name": "Call 'Motor Firmas'"
    }
  ],
  "connections": {
    "Webhook Sinatura": {
      "main": [
        [
          {
            "node": "Code: Extraer sinatura_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extraer sinatura_id": {
      "main": [
        [
          {
            "node": "SQL: Buscar firma por sinatura_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Buscar firma por sinatura_id": {
      "main": [
        [
          {
            "node": "Code: Preparar sincronizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Preparar sincronizar": {
      "main": [
        [
          {
            "node": "Call 'Motor Firmas'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04ef1316631ad25151bd9872e1ab2ae90a1247075d8a98db4baa86e84aca6b57"
  }
}
