EntornoDesarrollo/n8n/workflows/Trabajadores_Documentos.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "37bf40f9-6ba7-41c4-8a36-ba50ffadffa3",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        208
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getDocumentosByTrabajador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "deleteDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "uploadDocumento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "upload"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "60c79ae8-bc4c-41c4-b522-11d8d15f85ec",
      "name": "Switch Sub-Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -304,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT d.id, d.id_tipoDoc, t.tipo AS tipo_nombre, d.nombre_fichero, ENCODE(d.doc, 'base64') AS doc, d.descripcion, d.created_at as fecha_creacion FROM documentacion d LEFT JOIN tipoDoc t ON t.id = d.id_tipoDoc WHERE d.id_trabajador = $1 ORDER BY d.created_at DESC;",
        "options": {
          "queryReplacement": "={{ [$json.body.trabajadorId] }}"
        }
      },
      "id": "38a6bc42-d434-41cf-8c19-1a1dbbf0a58e",
      "name": "SQL: Get Documentos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM documentacion WHERE id = $1 RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.body.documentoId] }}"
        }
      },
      "id": "b1506fa5-bedf-46d3-93b4-f38486cd24e1",
      "name": "SQL: Delete Documento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE documentacion SET descripcion = COALESCE($1, descripcion), doc = CASE WHEN $2 != '' THEN DECODE($2, 'base64') ELSE doc END, nombre_fichero = CASE WHEN $3 != '' THEN $3 ELSE nombre_fichero END, updated_at = CURRENT_TIMESTAMP WHERE id = $4 RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.body.data.descripcion || null, $json.body.data.base64 || '', $json.body.data.fileName || '', $json.body.data.id] }}"
        }
      },
      "id": "b00f9481-30bf-46b2-b1c6-df7e2fe007c9",
      "name": "SQL: Update Documento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet results = [];\n\nfor (const item of items) {\n  let payload = item.json.body.data || item.json.body;\n  if (payload.origen === 'plantilla') {\n    const worker = payload.trabajadorData || {};\n    const name = worker.nombre ? `${worker.nombre}_${worker.primer_apellido || ''}`.trim() : 'Trabajador';\n    const dni = worker.dni_nif_pasaporte || 'ID';\n    const dummyB64 = 'JVBERi0xLjQKJcOkw7zDtsOfCjIgMCBvYmoKPDwvTGVuZ3RoIDMgMCBSL0ZpbHRlci9GbGF0ZURlY29kZT4+CnN0cmVhbQp4nDPQM1Qo5ypUMFAwALJMLU31jBQsTAz1LBSKikB8p9xchZJUhZLU4uLEvBIAh44KRQplbmRzdHJlYW0KZW5kb2JqCgozIDAgb2JqCjQ0CmVuZG9iagoKMSAwIG9iago8PC9QYWdlcyA0IDAgUi9UeXBlL0NhdGFsb2c+PgplbmRvYmoKCjUgMCBvYmoKPDwvQ3JlYXRpb25EYXRlKEQ6MjAyMzA2MTQxMjAwMDBaKS9DcmVhdG9yKFBERkNyZWF0b3IpL1Byb2R1Y2VyKFBERkNyZWF0b3IpPj4KZW5kb2JqCgo2IDAgb2JqCjw8L0ZvbnQ8PC9GMSA3IDAgUj4+Pj4KZW5kb2JqCgo3IDAgb2JqCjw8L0Jhc2VGb250L0hlbHZldGljYS9FbmNvZGluZy9XaW5BbnNpRW5jb2RpbmcvU3VidHlwZS9UeXBlMS9UeXBlL0ZvbnQ+PgplbmRvYmoKCjggMCBvYmoKPDwvQ29udGVudHMgMiAwIFIvTWVkaWFCb3hbMCAwIDU5NS4yNzYgODQxLjg5XS9QYXJlbnQgNCAwIFIvUmVzb3VyY2VzIDYgMCBSL1R5cGUvUGFnZT4+CmVuZG9iagoKNCAwIG9iago8PC9Db3VudCAxL0tpZHNbOCAwIFJdL1R5cGUvUGFnZXM+PgplbmRvYmoKCnhyZWYKMCA5CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDEzNyAwMDAwMCBuIAowMDAwMDAwMDE5IDAwMDAwIG4gCjAwMDAwMDAxMTYgMDAwMDAgbiAKMDAwMDAwMDUyMyAwMDAwMCBuIAowMDAwMDAwMTg1IDAwMDAwIG4gCjAwMDAwMDAyODAgMDAwMDAgbiAKMDAwMDAwMDMyNCAwMDAwMCBuIAowMDAwMDAwNDEyIDAwMDAwIG4gCnRyYWlsZXIKPDwvU2l6ZSA5L1Jvb3QgMSAwIFIvSW5mbyA1IDAgUj4+CnN0YXJ0eHJlZgo1ODQKJSVFT0YK';\n    payload.base64 = dummyB64;\n    payload.nombre = `Plantilla_${payload.templateId || 'Auto'}_${name}_${dni}.pdf`.replace(/ /g, '_');\n    payload.tipoId = 8;\n    payload.descripcion = payload.descripcion || ``;\n  }\n  results.push({ json: { payload } });\n}\nreturn results;"
      },
      "id": "5dab0232-0c4e-4b96-81ab-fdf7de34ed08",
      "name": "JS: Upload Documento Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        608
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO documentacion (id_trabajador, id_tipoDoc, nombre_fichero, descripcion, doc) VALUES ($1, $2, $3, $4, DECODE($5, 'base64')) RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.payload.trabajadorId || $json.payload.id_trabajador, $json.payload.tipoId || null, $json.payload.nombre || $json.payload.fileName || 'documento.bin', $json.payload.descripcion || '', $json.payload.base64 || ''] }}"
        }
      },
      "id": "29957d59-db42-46db-9bef-864e693469e1",
      "name": "SQL: Insert Documento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        624
      ],
      "credentials": {
        "postgres": {
          "id": "KezwkIj6LgJHArvL",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Switch Sub-Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Sub-Action": {
      "main": [
        [
          {
            "node": "SQL: Get Documentos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Delete Documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Update Documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JS: Upload Documento Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS: Upload Documento Router": {
      "main": [
        [
          {
            "node": "SQL: Insert Documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94bc228e902207efbd44f4d6dbc4148b9ebb4baca0f02c4dc60eb60cc029d59e"
  }
}