EntornoDesarrollo/n8n/workflows/Usuarios.json
{
  "updatedAt": "2026-04-27T10:05:11.409Z",
  "createdAt": "2026-04-09T13:26:23.893Z",
  "id": "r8k7krUdPWJ3TxuU",
  "name": "Usuarios",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "usuarios",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        288
      ],
      "id": "7f0b8ab2-08b0-4625-84ab-ffc38d7a8c5f",
      "name": "Webhook",
      "webhookId": "005bf58d-b519-4d05-83d1-d6d321a7620c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getUser",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d829c749-62d4-4582-b21b-722c26995b9c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getUser"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "430758cd-c9f3-4db0-9f62-1041d7716995",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "createUser",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "createUser"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a0bdc430-5ab2-4fc6-90f2-16388a8ce15b",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "updateUser",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "updateUser"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4695df15-83dc-41fd-9c7a-0756c0bba6b9",
                    "leftValue": "=",
                    "rightValue": "invalidAction",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid Action"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0ba751d7-1643-4e86-a140-bf5de269275b",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "Toogle status usuarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ToogleStatusUsuarios"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a398e4aa-8269-456e-9e1e-8fd23d826e41",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "getRole",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getRole"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -160,
        224
      ],
      "id": "4955f0df-57ef-4324-bcda-059ff6d99307",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"success\": true, \"data\": $input.all().map(item =\u003e item.json) }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        736,
        400
      ],
      "id": "00974fe2-ce7b-4261-8b6f-f2525435719b",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        -144
      ],
      "id": "ff602a9a-10e4-460b-97c6-a0d4e382c579",
      "name": "getUser",
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user",
          "mode": "list",
          "cachedResultName": "user"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "enabled": "={{ $json.body.enabled }}",
            "name": "={{ $json.body.name }}",
            "surname": "={{ $json.body.surname }}",
            "email": "={{ $json.body.email }}",
            "password": "={{ $json.body.password }}",
            "roleid": "={{ $json.body.roleid }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "surname",
              "displayName": "surname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "roleid",
              "displayName": "roleid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enabled",
              "displayName": "enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "id",
            "name",
            "surname",
            "email",
            "enabled",
            "roleid"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        32
      ],
      "id": "6e26cbd7-53c9-4c97-bd52-fe3373ba4bff",
      "name": "createUser",
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user",
          "mode": "list",
          "cachedResultName": "user"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "enabled": "={{ $json.body.enabled }}",
            "id": "={{ $json.body.id }}",
            "name": "={{ $json.body.name }}",
            "surname": "={{ $json.body.surname }}",
            "email": "={{ $json.body.email }}",
            "password": "={{ $json.body.password }}",
            "roleid": "={{ $json.body.roleid }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "surname",
              "displayName": "surname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "roleid",
              "displayName": "roleid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enabled",
              "displayName": "enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        192
      ],
      "id": "773505ee-47b8-4fc8-be11-f5fa3bcaa5a0",
      "name": "updateUser",
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const filters = $input.item.json.body.filters || {};\nconst page = parseInt($input.item.json.body.page) || 1;\n\nconst limit = 10;\nconst offset = (page - 1) * limit;\n\nconst conditions = [];\nconst params = [];\nlet paramIndex = 1;\n\nlet query = `\nSELECT \n  id, name, surname, email, roleid, password, enabled,\n  COUNT(*) OVER() as total_count\nFROM \"user\"\nWHERE 1=1\n`;\n\n// Búsqueda por texto\nif (filters.searchText && typeof filters.searchText === 'string' && filters.searchText.trim() !== '') {\n  conditions.push(`(\n    CONCAT(name, ' ', surname) ILIKE $${paramIndex}\n    OR email ILIKE $${paramIndex}\n  )`);\n  params.push(`%${filters.searchText}%`);\n  paramIndex++;\n}\n\n// Filtro por estado (enabled)\nif (filters.status !== undefined && filters.status !== null && filters.status !== '') {\n  conditions.push(`enabled = $${paramIndex}`);\n  params.push(filters.status);\n  paramIndex++;\n}\n\n// Filtro por role_id\nif (filters.roleid !== undefined && filters.roleid !== null && filters.roleid !== '') {\n  conditions.push(`roleid = $${paramIndex}`);\n  params.push(filters.roleid);\n  paramIndex++;\n}\n\nif (conditions.length > 0) {\n  query += ' AND ' + conditions.join(' AND ');\n}\n\n// 👇 IMPORTANTE: paginación + orden\nquery += ` ORDER BY id DESC LIMIT ${limit} OFFSET ${offset}`;\n\nreturn [\n  {\n    json: {\n      query,\n      params,\n      page,\n      limit\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -144
      ],
      "id": "76e7876c-8952-4472-b06d-08096cc8355a",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd9b5aaa-14bb-443a-b40e-a6de4ccd1639",
              "name": "exito",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "49390cfd-f444-4b8e-b839-8cc49adf3845",
              "name": "error",
              "value": "InvalidAction",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        720
      ],
      "id": "16470b6e-be71-4632-8125-97ca634075f4",
      "name": "Invalid Action"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"user\"\nSET enabled = NOT enabled\nWHERE id = $1\nRETURNING id, name, surname, enabled;",
        "options": {
          "queryReplacement": "={{ $json.body.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        368
      ],
      "id": "87dddd0e-96fb-42b2-b38f-aef8a946e691",
      "name": "Toogle status Usuario",
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        496,
        720
      ],
      "id": "cbd692f2-a6db-43cf-ab2c-ff7b2e4c8dea",
      "name": "Responde Error"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id, name from role\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        544
      ],
      "id": "f2ca6849-ba7a-414e-8412-83e78f09c4a5",
      "name": "getRole",
      "credentials": {
        "postgres": {
          "id": "AUTOPOSTGRESCRED01",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "createUser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "updateUser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Toogle status Usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getRole",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getUser": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createUser": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateUser": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "getUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Action": {
      "main": [
        [
          {
            "node": "Responde Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toogle status Usuario": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRole": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6321163c-c6b4-4629-aeee-6d4d8f4ebff5",
  "activeVersionId": "6321163c-c6b4-4629-aeee-6d4d8f4ebff5",
  "versionCounter": 415,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-22T09:43:05.809Z",
      "createdAt": "2026-04-22T09:43:05.809Z",
      "role": "workflow:owner",
      "workflowId": "r8k7krUdPWJ3TxuU",
      "projectId": "scuB9Y3NwfAwv0vk",
      "project": {
        "updatedAt": "2026-04-22T09:42:42.949Z",
        "createdAt": "2026-04-22T09:42:05.392Z",
        "id": "scuB9Y3NwfAwv0vk",
        "name": "p v \u003cdaniel.pedrero@sgtech.tech\u003e",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "06b871d4-11e0-4b54-8aa7-b150c2e36810"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 6321163c",
    "description": ""
  }
}