EntornoDesarrollo/n8n/workflows/VQeWJYRxOGnvxX4X.json
{
  "updatedAt": "2026-04-29T13:23:59.100Z",
  "createdAt": "2026-04-27T13:15:32.879Z",
  "id": "VQeWJYRxOGnvxX4X",
  "name": "Login",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        128
      ],
      "id": "6506a940-e4a3-44ec-946a-9ceaf6ee8afe",
      "name": "Webhook",
      "webhookId": "56be4f26-96d2-4249-8627-56e0dfe624c3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, enabled, password, roleid\nFROM \"user\"\nWHERE email = '{{ $json.body.email }}' \nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        128
      ],
      "id": "94547223-7425-4c4b-8f9d-65dfb546e31d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Kih4P6xJ67gZaubs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bcrypt = require('bcryptjs');\nconst jwt = require('jsonwebtoken');\n\nconst JWT_HASH = 'passEncriptada'; \n\n// Contraseña del body original del Webhook\nconst inputPass = $('Webhook').first().json.body.password;\n\n// Usuario devuelto por la query SQL (input de este nodo)\nconst usuario = $input.first().json;\n\n// Sin resultados = usuario no existe\nif (!usuario || !usuario.email) {\n  return [{\n    json: {\n      success: false,\n      message: \"Credenciales inválidas\"\n    }\n  }];\n}\n\n// Usuario deshabilitado\nif (!usuario.enabled) {\n  return [{\n    json: {\n      success: false,\n      message: \"Credenciales inválidas\"\n    }\n  }];\n}\n\n// Comparar contraseña con hash bcrypt\nconst isValid = await bcrypt.compare(inputPass, usuario.password);\n\nif (!isValid) {\n  return [{\n    json: {\n      success: false,\n      message: \"Credenciales inválidas\"\n    }\n  }];\n}\n\n// Generar JWT\nconst token = jwt.sign(\n  {\n    id: usuario.id,\n    email: usuario.email,\n    role: usuario.roleid\n  },\n  JWT_HASH,\n  { expiresIn: '1h' }\n);\n\n// Respuesta exitosa\nreturn [{\n  json: {\n    success: true,\n    token,\n    user: {\n      id: usuario.id,\n      email: usuario.email\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        128
      ],
      "id": "0008aba4-68e0-44ce-9b8a-066bf55c7dbb",
      "name": "verificarEmail"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        720,
        128
      ],
      "id": "75251f85-2b26-4972-9b0e-895f3d393251",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "verificarEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificarEmail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ac187f02-96ca-4041-905a-7996222171e4",
  "activeVersionId": "ac187f02-96ca-4041-905a-7996222171e4",
  "versionCounter": 209,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-27T13:15:32.879Z",
      "createdAt": "2026-04-27T13:15:32.879Z",
      "role": "workflow:owner",
      "workflowId": "VQeWJYRxOGnvxX4X",
      "projectId": "scuB9Y3NwfAwv0vk",
      "project": {
        "updatedAt": "2026-04-22T09:42:42.949Z",
        "createdAt": "2026-04-22T09:42:05.392Z",
        "id": "scuB9Y3NwfAwv0vk",
        "name": "p v <daniel.pedrero@sgtech.tech>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "06b871d4-11e0-4b54-8aa7-b150c2e36810"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version ac187f02",
    "description": ""
  }
}