EntornoDesarrollo/n8n/workflows/VQeWJYRxOGnvxX4X.json
{
  "updatedAt": "2026-05-04T10:50:34.198Z",
  "createdAt": "2026-04-27T13:15:32.879Z",
  "id": "VQeWJYRxOGnvxX4X",
  "name": "Login",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1072,
        304
      ],
      "id": "544d7f56-8dc3-4a8a-95de-66af2706bda0",
      "name": "Webhook",
      "webhookId": "56be4f26-96d2-4249-8627-56e0dfe624c3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, enabled, password, roleid, first_login\nFROM \"user\"\nWHERE email = '{{ $json.body.email }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        304
      ],
      "id": "d33f9365-587d-4a33-a0ca-50539628a404",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Kih4P6xJ67gZaubs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bcrypt = require('bcryptjs');\nconst jwt = require('jsonwebtoken');\n\nconst JWT_HASH = 'passEncriptada';\n\nconst inputPass = $('Webhook').first().json.body.password;\nconst usuario = $input.first().json;\n\nif (!usuario || !usuario.email) {\n  return [{ json: { success: false, message: 'Credenciales inválidas' } }];\n}\n\nif (!usuario.enabled) {\n  return [{ json: { success: false, message: 'Credenciales inválidas' } }];\n}\n\nconst isValid = await bcrypt.compare(inputPass, usuario.password);\n\nif (!isValid) {\n  return [{ json: { success: false, message: 'Credenciales inválidas' } }];\n}\n\nconst JWTexpired = '1h';\n\nconst token = jwt.sign(\n  {\n    id: usuario.id,\n    email: usuario.email,\n    role: usuario.roleid,\n    firstLogin: usuario.first_login\n  },\n  JWT_HASH,\n  { expiresIn: JWTexpired }\n);\n\nreturn [{\n  json: {\n    success: true,\n    token,\n    firstLogin: usuario.first_login,\n    user: {\n      id: usuario.id,\n      email: usuario.email\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        304
      ],
      "id": "12ca2347-8a3b-4990-858f-a0a810bfbf3c",
      "name": "verificarEmail"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1760,
        304
      ],
      "id": "d3b9e5d1-8318-4749-8bef-f028e56bb6da",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "verificarEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificarEmail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f3ecba09-04f6-45cc-b8d8-423acab7f1f5",
  "activeVersionId": "f3ecba09-04f6-45cc-b8d8-423acab7f1f5",
  "versionCounter": 227,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-27T13:15:32.879Z",
      "createdAt": "2026-04-27T13:15:32.879Z",
      "role": "workflow:owner",
      "workflowId": "VQeWJYRxOGnvxX4X",
      "projectId": "scuB9Y3NwfAwv0vk",
      "project": {
        "updatedAt": "2026-04-22T09:42:42.949Z",
        "createdAt": "2026-04-22T09:42:05.392Z",
        "id": "scuB9Y3NwfAwv0vk",
        "name": "p v <daniel.pedrero@sgtech.tech>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "06b871d4-11e0-4b54-8aa7-b150c2e36810"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version f3ecba09",
    "description": ""
  }
}